logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.env
.DS_Store
dump
*/config/*.json
package-lock.json
.nyc_output
mongo

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/admin/config/dev.env.js
/admin/config/prod.env.js
/server/transactions-attachments
/server/backup
