logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.env
.DS_Store
dump
package-lock.json
.nyc_output
mongo
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

admin/src/assets/images/CATEGORIES/clients.png
