$white: #FFF;
$orange: #d15f45;
//$red: #ff0000;

$light-brown: #bfb09d;
$brown-border: #66563d;
$main-color: #66563d;
$brown-shadow: rgba(104, 87, 62, 0.5);
$cell-background: #e9e6e3;
$thead-background: #938676;
$active-background: #f4f2f1;
$table-row-zebra-background: #f4f2f1;
$cell-border: #938676;
$beige: #c4beb6;

//NEW COLORS---------------------------------------
$text: #3d3d3d;
$table: #4d4d4d;
$body: #fcfcfc;

$border: #bfbfbf;
$dark-border: #919191;
$light-border: #ededed;
$border-focus: #3d3d3d;

$list-hover: #ededed;

$red: #d15f45;
$green: #47A6A6;
$green-approve: #4CA553;

$table-list: #f7f7f7;
$table-list-hover: #efefef;
