$white: #FFF;
$orange: #d15f45;
$red: #ff0000;
$green: #47A6A6;
$green-approve: #4CA553;
$brown-border: #68573E;
$light-brown: #bfb09d;
$main-color: #67573E;
$brown-shadow: rgba(104, 87, 62, 0.5);
$cell-background: #ddd3c8;
$thead-background: #938676;
$active-background: #f2efeb;
$table-row-zebra-background: #F4F0EE;
$cell-border: #938676;
$beige: #c4beb6;