$white: #FFF;
$orange: #d66f58;
//$red: #ff0000;

$light-brown: #bfb09d;
$brown-border: #66563d;
$main-color: #66563d;
$brown-shadow: rgba(104, 87, 62, 0.5);
$cell-background: #e9e6e3;
$thead-background: #938676;
$active-background: #f4f2f1;
$table-row-zebra-background: #f4f2f1;
$cell-border: #938676;
$beige: #c4beb6;

//NEW COLORS---------------------------------------
$text: #333333;
$link: #1976d2;
$body: #fbfbfb;

$border: #cccccc;
$dark-border: #999999;
$light-border: #ededed;
$border-focus: #666666;
$light-background: #fbfbfb;

$list-hover: #f1f1f1;

$red: #d66f58;
$medium-red: #eab7ab;
$light-red: #f5dfd9;

$green: #4ba5a5;
$medium-green: #93c9c9;
$light-green: #daeded;

$green-approve: #3FB354;

$yellow: #F4C430;

$table-header: #f1f1f1;
$table-list: #f9f9f9;
$table-list-hover: #f6f6f6;

$box-shadow: rgba(99, 99, 99, 0.12) 0px 0px 1px, rgba(99, 99, 99, 0.2) 0px 1px 2px, rgba(99, 99, 99, 0.05) 0px 2px 1.3px;
