$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />
@import "colors";

$default-color: $text;
$primary-color: $red;

@import '~vue2-datepicker/scss/index.scss';

.xmx-input {
  color: #333;
  border: 1px solid $border;
  transition: .1s ease-out;
  height: 32px;
  box-shadow: none;
  padding-left: 7px;
  border-radius: 2px;

  &:disabled {
    background: #FAFAFA;
    color: #333;
  }

  &:hover {
    border-color: $border;
  }

  &:focus {
    outline: none;
    border-color: #666;
  }
}

.xmx-input::placeholder {
  color: #333;
  opacity: 0.45;
}

.xmx-input::-webkit-input-placeholder {
  color: #333;
  opacity: 0.45;
}

.cell {
  &:hover {
    background-color: $light-red !important;
  }
}

.hover-in-range {
  background-color: $list-hover !important;
}

.xmx-datepicker-main {
  border: none;
  border-radius: 2px;
}

.xmx-datepicker-footer {
  text-align: center;
}

.xmx-datepicker-btn-confirm {
  transition: .1s ease-out;
  border: 1px solid $red;
  padding: 7px 20px;
  margin: 7px 0;
  color: $red;
}

.project__date .xmx-datepicker,
.drop .xmx-datepicker,
.project-cd__input .xmx-datepicker {
  width: 220px;
}

.table__data .xmx-datepicker {
  width: auto;

  & .xmx-icon-calendar {
    display: none;
  }
}

.form__projectDeadline .xmx-datepicker {
  width: 220px;

  & .xmx-icon-calendar {
    right: 27px;
  }
}

.no-border .xmx-datepicker-main {
  border: none;
}

.xmx-datepicker-popup {
  box-shadow: $box-shadow;
}

.table-input {
  color: $text;
  border: none;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
}


.xmx-calendar-panel-date:nth-child(even) {
  display: none;
}

.not-current-month {
  color: #333;
}
