.full-order{
    font-family: MyriadPro;
    position: fixed;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    &__wrapper{
      // background-color: white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__info {  
      position: relative;
      display: flex;
      background: white;
      border-radius: 10px; 
      padding: 40px 50px 40px 70px;
      .recievedBlock {
        min-width: 600px;
        max-width: 750px;
        margin-right: 65px;
        h1 {
            text-align: center;
            padding-bottom: 50px;
        }
        .contactDetails {
            padding-bottom: 55px;
            display: flex;
            flex-direction: column;
            &__details {
                padding-top: 10px;
                display: flex;
                // justify-content: space-between;
                &-item {
                    width: 50%;
                    &:last-child {
                        margin-left: 80px;
                    }
                    .person-item, .company-item {
                        .title {
                            font-family: MyriadBold;
                        }
                        padding-bottom: 10px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        .fieldDetails {
            padding-bottom: 55px;
            display: flex;
            justify-content: space-between;
            &__item {
                width: 50%;
                &:last-child {
                    margin-left: 80px;
                }
                .industry__title, .service__title {
                    padding-bottom: 10px;
                }
            }
        }
        .languageDetails {
            padding-bottom: 55px;
            &__title {
                padding-bottom: 10px;
            }            
            &__languages {
                display: flex;
                &-item {
                    .title {
                        font-family: MyriadBold;
                    }
                    .target-list {
                        span {
                            padding-right: 10px;
                        }
                    }
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    &:last-child {
                        margin-left: 80px;
                    }
                }
            }
        }
        .projectDetails {
            padding-bottom: 55px;            
            &__title {
                padding-bottom: 10px;
            }
            &__download {
                .title {
                    font-family: MyriadBold;
                }
                display: flex;
                justify-content: space-around;
                &-item {
                    width: 50%;
                    display: flex;
                    &:last-child {
                        margin-left: 80px;
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                            margin-top: 20px;
                            width: 30px;
                            cursor: pointer;
                        }
                    }
                }
                .file {
                    justify-content: space-around;
                }
                .deadline {
                    flex-direction: column;
                    &-date {
                        margin-top: 32px;
                    }
                }
            }
        }
        .brief {
            &__title {
                font-family: MyriadBold; 
            }
            &__text {
                padding-top: 20px;
            }
        }
      }
      .editBlock {
        margin-top: 180px;
        padding-left: 35px;
        border-left: 1px solid rgba(0,0,0,0.2);
        .date {
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            &__title {
                padding-bottom: 15px;
                font-weight: bold;
            }
        }
        label {
            font-weight: bold;
        }
        .managerAssignment {
            padding-top: 40px;
        }
        .buttons {
            bottom: 0;
            display: flex;
            padding-top: 389px;
            input {
                border-radius: 3px;
                transition: all 0.3s;
                padding: 5px 16px;
                width: 50%;
                font-size: 18px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }
            .save {
                margin-right: 10px;
            }
        }
      }
    }
}
.cross {
    background-color: rgba(0,0,0,0.7);
    border-radius: 40px;
    width: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    &:hover {
        background-color: black;
        text-shadow: 0 0 30px rgba(255,255,255,0.5);
    }
}

@font-face {
    font-family: MyriadPro;
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: MyriadBold;
    src: url('../fonts/MyriadPro-Bold.otf');
}