@import "colors";

.filter {
  label {
    font-family: Myriad600;
    margin-bottom: 5px;
    display: block;
  }

  &__item {
    position: relative;
    margin-bottom: 15px;
    width: 220px;
  }

  &__input {
    position: relative;
    height: 32px;
    width: 220px;
  }
}

.fa-backspace {
  font-size: 16px;
  transition: .2s ease-out;
  color: $dark-border;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;

  &:hover {
    color: $text;
  }
}

input {
  font-size: 14px;
  color: $text;
  border: 1px solid $border;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0 7px;
  outline: none;
  height: 32px;
  transition: .1s ease-out;
  width: 220px;
  font-family: 'Myriad400';

  &:focus {
    border: 1px solid $border-focus;
  }
}

.backspace {
  position: absolute;
  right: 30px !important;
  top: 27px !important;
  background: white;
}

.range-with-one-panel {
  width: 220px !important;
}