body {
    background-image: url('../assets/images/image-background.jpg');
  }
  
  .loginWrapper {
      position: absolute;
      margin-left: -250px;
      left: 50%;
      top: 50%;
      margin-top: -266px;
      width: 436px;
  
      border-radius: 26px;
  
      .imageWrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
        img {
          width: 269px;
          height: 76px;
        }
      }
  
    .loginForm {
      padding: 1%;
      margin: 0 auto;
      width: 436px;
      background-color: #fff;
  
      .labelWrapper {
        margin-bottom: -3%;
        padding-top: 1%;
        .warningMessage {
          color: #ff0000;
          padding-left: 7.3%;
        }
      }
  
      .h2Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      input {
        height: 41px;
        width: 356px;
        font-size: 20px;
        color: #66563d;
        padding-left: 3%;
        border-radius: 8px;
        border: 2px solid #dedede;
        &::-webkit-input-placeholder {
          opacity:0.38;
          }
        &::-moz-placeholder {
          opacity:0.38;
          }
        &:-ms-input-placeholder {
          opacity:0.38;
          }
        &:focus {
          box-shadow: 0 0 4px #66563D;
          outline: none;
        }
      }
  
      .addShadow {
        box-shadow: 0 0 10px #66563d;
      }
  
      .email {
        margin-top: 5.5%;
        margin-bottom: 5.5%;
      }
  
      .password {
        margin-top: 0;
        margin-bottom: 2.5%;
      }
  
      .checkboxWrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .checkboxWrapper__input {
          width: 13px;
          height: 13px;
          margin-left: 7%;
        }
        .checkboxWrapper__label {
          font-size: 15px;
          color: #2d2d2d;
          margin-left: 2%;
        }
      }
  
      .buttonWrapper {
        display: flex;
        justify-content: center;
        margin: 2% 0 0.2% 0;
        padding-bottom: 3%;
        button {
          width: 142px;
          height: 35px;
          border-radius: 8px;
          font-size: 20px;
          background-color: #84ca8e;
          color: #66563d;
          opacity: 0.22;
        }
        .changeButtonView {
          opacity: 1;
          color: #fff;
        }
      }
  
      .formFooter {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        .firstLabel {
          color: #4280d3;
          padding-left: 6%;
          margin-bottom: 4%;
          cursor: pointer;
        }
      }
    }
  
    @media (max-width: 625px) {
      width: 450px;
    }
    @media (max-width: 560px) {
      width: 350px;
    }
    @media (max-width: 374px) {
      width: 300px;
    }
  
    border-radius: 26px;
  }