.copywritingWrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .copywritingContainer {
        border: 2px solid #67563D;
        position: relative;
        font-family: MyriadPro;
        width: 55%;
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 40px 0 40px;
        border-radius: 20px;
        color: #67563D;
        position: relative;

    .copywriting-form {
        width: 100%;
        max-width: 660px;
        padding-left: 36px;

        .col-1 {
            margin-bottom: 30px;
            &__block0__title {
                margin-bottom: 15px;
                .pname {
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
            &__block0__inner {
                padding-left: 8px;
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                    .psel {
                        margin-top: 15px;
                        margin-right: 15px;
                    }
                    input {
                        margin-top: 15px;
                        width: 76%;
                        outline: none;
                        border: 1px solid #66563D;
                        border-radius: 7px;
                        padding: 3px;
                        height: 19px;
                        font-family: MyriadPro;
                    }
            }
            &__block1 {
            margin-bottom: 15px;
                .block1 {
                    font-size: 22px;
                    margin-right: 5px;
                }
                .block2 {
                    display: flex;
                    justify-content: space-around;
                }
            }
            &__block2 {
                    display: flex;
                    justify-content: space-around;
                        &-sub1 {
                            display: flex;
                            align-items: center;
                            color: #67563D;
                            border: 1px solid #67563D;
                            border-radius: 16px;
                            padding: 7px;
                            background-color: #fff;
                            margin-left: -39px;
                            cursor: pointer;
                                .sub1 {
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                                img {
                                    margin-right: 10px;
                                }
                        }
                }
        }

        .col-2 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 10px;
                .block1 {
                    font-size: 22px;
                }
            }
            &__block2 {
                .inner-langs {
                    margin-top: 10px;
                    margin-left: 20px;
                    &__title {
                        padding-left: 8px;
                        font-size: 14px;
                        }
                    &__select {
                        margin-top: 5px;
                        max-height: 490px;
                        width: 490px;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0 0 10px rgba(0,0,0,0.6);
                        border-radius: 10px;
                        .select-text {
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            padding: 8px;
                            align-items: center;
                            min-height: 22px;
                            .span-wrapper {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: 10;
                                color: rgba(0, 0, 0, 0);
                            }
                            .icon {
                                padding-right: 15px;
                                font-size: 20px;
                            }
                            .reverse {
                                transform: rotate(180deg);
                                padding-right: 0;
                                padding-left: 15px;
                            }
                        }
                        .clarify {
                            color: #66563D;
                            opacity: 0.38;
                            font-size: 14px;
                            .icon {
                                opacity: 1;
                            }
                        }
                        .color{
                            opacity: 1;
                        }
                        .select__drop {
                            padding: 5px;
                            border-top: 1px solid #66563D;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            &-list {
                                .dialect {
                                    padding-left: 18px;
                                    position: absolute;
                                    opacity: 0;
                                    transform: translateY(-50px);
                                    transition: all .3s;
                                    z-index: -5;
                                    &_active{
                                        position: static;
                                        opacity: 1;
                                        transform: translateY(0px);
                                    }
                                }
                                .pair {
                                    padding: 2px;
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    transition: all 0.3s;
                                    position: relative;
                                    &_dialect {  
                                        &:before, &:after {
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            background-color: #66563D;
                                            left: -8px;
                                        }
                                        &:before {
                                            width: 10px;
                                            height: 1px;
                                            top: 10px;
                                        }
                                        &:after {
                                            width: 1px;
                                            height: 11px;
                                            top: 0;
                                        }
                                    }
                                    img {
                                        width: 23px;
                                        margin-right: 3px;
                                    }
                                    span {
                                        font-size: 12px;
                                    }
                                    .openIcon {
                                        width: 8px;
                                        padding-left: 5px;
                                    }
                                    .reverseOpenIcon {
                                        transform: rotate(180deg);
                                        padding-left: 0;
                                        padding-right: 5px;
                                    }
                                    &:hover {
                                        box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
                                        border-radius: 5px;
                                        span {
                                            transition: all 0.4s;
                                            transform: translateX(3px);
                                        }     
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-3 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 7px;
                .block1 {
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
            &__block2 {
                display: flex;
                justify-content: space-around;
                width: 98%;
                font-size: 14px;
                height: 110px;
                    &-sub {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                        span {
                            margin-bottom: 24px;
                            &:last-child {
                            margin-bottom: 10px;
                            }
                        }
                        img {
                            width: 71px;
                        }
                    }
            }
        }

        .col-4 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 1px;
                .block1 {
                    font-size: 22px;
                }
            }
            &__block2 {
                font-size: 14px;
                    .descr {
                        .head {
                            position: relative;
                            margin-top: 20px;
                            .block2 {
                                margin-right: 6px;
                                &:hover ~ .notice {
                                    visibility: visible;
                                }
                            }
                            .notice {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: -16px;
                                left: 1px;
                            }
                        } 
                    }

                .inner-ta {
                    margin-bottom: 20px;
                    .ta-block2 {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        padding-top: 4px;
                        padding-left: 7px;
                    }
                }
            }
            &__block3 {
                margin-bottom: 20px;
                font-size: 14px;
                .descr-1 {
                    .head-1 {
                        margin-top: 20px;
                        position: relative;
                        .block3 {
                            &:hover ~ .notice-1 {
                                visibility: visible;
                            }
                        }
                        .notice-1 {
                            margin-left: 70px;
                            color: #f4866e;
                            font-size: 14px;
                            white-space: nowrap;
                            visibility: hidden;
                            z-index: 1;
                            position: absolute;
                            top: -14px;
                            left: 38px;
                        }
                    }
                }
                .in-block3 {
                    input {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block4 {
                margin-bottom: 20px;
                .block4 {
                    font-size: 14px;
                }
                .in-block4 {
                    input {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block5 {
                margin-bottom: 20px;
                    font-size: 14px;
                    .descr-2 {
                        .head-2 {
                            margin-top: 20px;
                            position: relative;
                            .block5 {
                                margin-right: 6px;
                                &:hover ~ .notice-2 {
                                    visibility: visible;
                                }
                            }
                            .notice-2 {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: -16px;
                                left: -57px;
                            }
                        }
                    }
                    .wrap {
                        display: flex;
                            .in-block5 {
                                margin-left: -3px;
                                margin-right: 50px;
                                    textarea {
                                        border-radius: 8px;
                                        outline: none;
                                        width: 145%;
                                        border: 1px solid #bfb09d;
                                        padding: 4px 0 4px 7px;
                                    }
                            }
                            .block5-delim {
                                margin: 11px 70px 0 98px;
                            }
                            .block5-but {
                                margin-top: -2px;
                                button {
                                    border: 0;
                                    width: 114px;
                                    height: 40px;
                                    border-radius: 12px;
                                    background-color: #fff;
                                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                                    font-size: 14px;
                                    color: #FF876C;
                                    outline: none;
                                    cursor: pointer;
                                    &:hover {
                                        color: #66563D;
                                    }
                                }
                            }
                    }
                }

                &__block6 {
                    font-size: 14px;
                    margin-bottom: 30px;
                        &-header {
                           margin-bottom: 15px; 
                        }
                        .block6 {
                            margin-right: 6px;
                        }
                        &-main {
                            .main-outer {
                                display: flex;
                                align-items: center;
                                border: 1px solid #66563D;
                                margin-bottom: 15px;
                                width: 94%;
                                .descr-3 {
                                    .head-3 { 
                                        position: relative;
                                        padding: 17px;
                                        .normsp {
                                            &:hover ~ .rsp {
                                                visibility: visible;
                                            }
                                        }
                                        .rsp {
                                            position: absolute;
                                            color: #FF876C;
                                            top: -19px;
                                            left: 16px;
                                            width: 434px;
                                            visibility: hidden;
                                        }
                                        .rspSecond {
                                            position: absolute;
                                            color: #FF876C;
                                            top: -16px;
                                            left: 59px;
                                            width: 493px;
                                            visibility: hidden;
                                        }
                                    }
                                }
                                    
                            }
                        }
                }
                &__block7 {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 14px;
                        .first {
                            display: flex;
                            flex-direction: column;
                            margin-right: 239px;
                            .exp {
                                margin-bottom: 12px;
                            }
                            .in {
                                border-radius: 10px;
                                padding: 10px;
                                outline: none;
                                border-style: none;
                                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
                                opacity: 0.5;
                                margin-bottom: 12px;
                                font-size: 12px;
                            }
                            ::-webkit-input-placeholder {
                                text-align: center;
                            }
                            .url {
                                display: flex;
                                justify-content: center;
                                opacity: 0.5;
                                font-size: 12px;
                            }
                        }
                        .second {
                            display: flex;
                            flex-direction: column;
                            margin-top: 29px;
                            position: relative;
                            .uploadBtn {
                                overflow: hidden;
                                position: relative;
                                width: 85%;
                                padding: 10px 30px;
                                border-radius: 12px;
                                -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
                                box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
                                background-color: #FF876C;
                                cursor: pointer;
                                margin-right: 15px;
                                margin-bottom: 10px;
                                    &__text {
                                        z-index: 1;
                                        position: relative;
                                        color: #fff;
                                        font-size: 15px;
                                        font-family: MyriadPro;
                                        text-align: center;
                                    }
                                    input {
                                        top: 1px;
                                        right: 0;
                                        z-index: 2;
                                        position: absolute;
                                        cursor: pointer;
                                        opacity: 0;
                                        filter: alpha(opacity=0);
                                        font-size: 50px;
                                        font-family: MyriadPro;
                                    }
                            }
                            .se {
                                position: absolute;
                                top: 47px;
                                left: 28px;
                                opacity: 0.5;
                                font-size: 12px;
                            }
                        }
                }
            }

        .col-5 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 10px;
                .block1 {
                    font-size: 22px;
                }
            }
            .block1-wrapper {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                .sub {
                    display: flex;
                    align-items: center;
                    border: 0.5px solid #bfb09d;
                    margin: 10px;
                    cursor: pointer;
                    .title {
                        padding: 10px 20px 10px 20px;
                        white-space: nowrap;
                        font-size: 14px; 
                    }
                    .sec_title {
                        padding: 10px 0 10px 10px;
                    }
                    .four_title {
                        padding: 10px 9px 10px 10px;
                    }
                    img {
                        margin: 10px 30px;
                    }
                    input {
                        display: none;
                        margin-right: 10px;
                        outline: none;
                        width: 52%;
                    }
                    .inp_vis {
                        display: inline;
                    }
                    &:hover {
                        box-shadow: 0 0 4px #66563D;
                    }
                }
                .sub_unbord {
                    border: none;
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }

        .col-6 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 30px;
                .block1 {
                    margin-right: 6px;
                    font-size: 22px;
                }
            }
            &__block2 {
                display: flex;
                justify-content: space-evenly;
                    .sub {
                        display: flex;
                        cursor: pointer;
                            img {
                                width: 60px;
                            }
                    }
            }
        }

        .col-7 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 30px;
                .block1 {
                    margin-right: 6px;
                    font-size: 22px;
                }
            }
            &__block2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: column;
                max-height: 122px;
                    .sub {
                        display: flex;
                        align-items: center;
                            .subspan {
                                font-size: 14px;
                                .title {
                                    margin-left: 10px;
                                    margin-right: 53px;
                                }
                                .title8 {
                                    margin-left: 10px;
                                    margin-right: 10px;
                                }
                            }
                            input {
                                display: none;
                                margin-right: 10px;
                                outline: none;
                                width: 28%;
                            }
                            .inp_vis {
                                display: inline;
                            }
                    }
            }
        }

        .col-8 {
            margin-bottom: 40px;
            &__block1 {
                display: flex;
                margin-bottom: 20px;
                .block1 {
                    font-size: 22px;
                    margin-right: 20px;
                }
            }
                .toggle {
                    width: 76px;
                    height: 28px;
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s;    
                    .toggler {
                        position: absolute;
                        width: 46%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgb(155, 155, 155);
                        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
                        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
                        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
                        box-shadow: 0 0 3px rgba(0,0,0,0.5);
                        z-index: 2;
                        transition: all 0.3s;        
                    }
                    .yes, .no {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        transition: all 0.3s;
                        span {
                            padding-top: 3px;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                        }
                    }
                    .yes {
                        width: 45%;
                        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #82CD8F;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    .no {
                        width: 55%;
                        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #978D7E;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                .positive {
                    .toggler {
                        transform: translateX(41px);
                    }
                    .yes {
                        width: 55%;
                    }
                    .no {
                        width: 45%;
                    }
            }
            &__block3 {
                display: flex;
                justify-content: space-between;
                    .sub {
                        display: flex;
                        align-items: center;
                            .title {
                                margin-right: 10px;
                            }
                            input {
                                width: 29%;
                                outline: none;
                                font-size: 14px;
                            }
                    }
            }
        }

        .col-9 {
            margin-bottom: 30px;
            &__block1 {
                margin-right: 47px;
                display: flex;
                margin-bottom: 20px;
                .block1 {
                    font-size: 22px;
                    margin-right: 45px;
                }
                .toggle {
                    width: 76px;
                    height: 28px;
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s;    
                    .toggler {
                        position: absolute;
                        width: 46%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgb(155, 155, 155);
                        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
                        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
                        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
                        box-shadow: 0 0 3px rgba(0,0,0,0.5);
                        z-index: 2;
                        transition: all 0.3s;        
                    }
                    .yes, .no {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        transition: all 0.3s;
                        span {
                            padding-top: 3px;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                        }
                    }
                    .yes {
                        width: 45%;
                        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #82CD8F;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    .no {
                        width: 55%;
                        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #978D7E;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

            .positive {
                .toggler {
                    transform: translateX(41px);
                }
                .yes {
                    width: 55%;
                }
                .no {
                    width: 45%;
                }
              }
            }
            &__block2 {
                display: flex;
                flex-direction: column;
                max-height: 125px;
                margin-bottom: 20px;
                .sub {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    &__choose {
                        display: flex;
                        align-items: center;
                        width: 33%;
                    }
                    &__input {
                        display: flex;
                        align-items: center;        
                        width: 67%;
                        input {
                            width: 100%;
                        }
                        .title2 {
                            margin-right: 15px;
                        }
                    }
                }
            }
            &__block3 {
                margin-bottom: 77px;
                .bot {
                    .buttonWrap {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                        position: relative;
                            button {
                                background-color: #FF876C;
                                border-radius: 16px;
                                outline: none;
                                border-style: none;
                                color: #fff;
                                padding: 15px 20px;
                                box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.5);
                                cursor: pointer;
                            }
                            .foot {
                                opacity: 0.67;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                top: 98px;
                                left: 10px;
                        }
                    }
                }
            }
        }

        .star {
            color: red;
        }

        .choice-sel {
            width: 20px;
            height: 18px;
            border-radius: 10px;
            background-color: #67563D;
            border: 1px solid #bfb09d;
            border-radius: 14px;
            margin: 10px;
            position: relative;
            &::before {
                content: "";
                display: block;
                border: 1px solid #bfb09d;
                border-radius: 18px;
                width: 26px;
                height: 24px;
                position: absolute;
                top: -4px;
                left: -4px;
            }
        }
        .empty-choice {
                border: 1px solid #bfb09d;
                border-radius: 18px;
                width: 20px;
                height: 18px;
                margin: 10px;
        }

        .activeType {
            background-color: #66563D;
            opacity: 0.67;
            color: #fff;
        }
    }
}
.color{
    opacity: 1;
}

.orderInfoCopy {
font-family: MyriadPro;
color: #66563D;
transition: all 0.7s;
margin-left: 30px;
padding-bottom: 20px;
border: 1px solid #66563D;
border-radius: 15px;
position: sticky;
top: 7px;
right: 20px;
width: 250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
&__title {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    h3 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    font-weight: normal;
    }
}
&__summary {
    padding: 10px 20px 0; 
    p {
    padding-left: 20px;
    }        
    span {
    font-size: 30px;
    padding-right: 5px;
    font-family: MyriadBold;
    }
    label {
    font-size: 18px;
    font-family: MyriadBold;
    }
    .choice {
    margin-top: 5px;
    color: #FF876C;
    font-family: MyriadPro;
    }
    &-languages {
    p {
        .choice {
        font-size: 16px;
        color: #FF876C;
        }
    }
    }
    &-deadline {
    p {
        .choice {
        font-size: 16px;
        color: #FF876C;
        }
    }
    }       
}
}
}

