.copywritingWrapper {
    width: 100%;

    .copywritingContainer {
        border: 2px solid #67563D;
        position: relative;
        font-family: MyriadPro;
        width: 50%;
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 40px 40px 40px;
        border-radius: 20px;
        color: #67563D;

    }

    .copywriting-form {
        width: 100%;
        max-width: 660px;
        position: relative;
        padding-left: 36px;

        .col-1 {
            margin-bottom: 30px;
            
            &__block1 {
                margin-bottom: 30px;
                .block1 {
                    font-size: 22px;
                    margin-right: 5px;
                }
                .block2 {
                    display: flex;
                    justify-content: space-around;
                }
            }
            &__block2 {
                    display: flex;
                    justify-content: space-around;
                        &-sub1 {
                            display: flex;
                            align-items: center;
                            color: #fff;
                            border: 1px solid #67563D;
                            border-radius: 16px;
                            padding: 7px;
                            background-color: #67563D;
                            opacity: 0.67;
                            margin-left: -39px;
                            cursor: pointer;
                                .sub1 {
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                                img {
                                    margin-right: 10px;
                                }
                        }
                        &-sub2 {
                            display: flex;
                            align-items: center;
                            color: #67563D;
                            border: 1px solid #67563D;
                            border-radius: 16px;
                            padding: 7px;
                            cursor: pointer;
                                .sub2 {
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                                img {
                                    margin-right: 10px;
                                }
                        }
                        &-sub3 {
                            display: flex;
                            align-items: center;
                            color: #67563D;
                            border: 1px solid #67563D;
                            border-radius: 16px;
                            padding: 7px;
                            cursor: pointer;
                                .sub2 {
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                                img {
                                    margin-right: 10px;
                                }
                        }
                }
        }

        .col-2 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 10px;
                .block1 {
                    font-size: 22px;
                }
            }
            &__block2 {
                margin-left: 30px;
                margin-bottom: 10px;
                .block2 {
                    font-size: 14px;
                }
            }
            &__block3 {
                box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
                border-radius: 12px;
                margin-left: 34px;
                display: flex;
                        justify-content: space-between;
                        align-items: center;
                width: 88%;
                    .sub1 {
                        padding: 10px 10px 10px 10px;
                        opacity: 0.3;
                    }
                    img {
                        height: 17px;
                        margin-right: 10px;
                        cursor: pointer;
                    }
            }
        }

        .col-3 {
            margin-bottom: 30px;
            &__block1 {
                .block1 {
                    font-size: 22px;
                    margin-right: 5px;
                }
            }
            &__block2 {
                display: flex;
                justify-content: space-around;
                width: 98%;
                font-size: 14px;
                &-sub1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                    .choice {
                        width: 17px;
                        height: 13px;
                        border-radius: 10px;
                        background-color: #67563D;
                        border: 1px solid #bfb09d;
                        border-radius: 14px;
                        margin: 10px;
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            border: 1px solid #bfb09d;
                            border-radius: 18px;
                            width: 23px;
                            height: 19px;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                        }
                    }
                    span {
                        margin-bottom: 24px;
                    }
                    img {
                        width: 71px;
                    }
                }
                &-sub2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                    .choice {
                        width: 17px;
                        height: 13px;
                        border-radius: 10px;
                        background-color: #67563D;
                        border: 1px solid #bfb09d;
                        border-radius: 14px;
                        margin: 10px;
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            border: 1px solid #bfb09d;
                            border-radius: 18px;
                            width: 23px;
                            height: 19px;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                        }
                    }
                    span {
                        margin-bottom: 19px;
                    }
                    img {
                        width: 71px;
                    }
                }
                &-sub3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                    .choice {
                        width: 17px;
                        height: 13px;
                        border-radius: 10px;
                        background-color: #67563D;
                        border: 1px solid #bfb09d;
                        border-radius: 14px;
                        margin: 10px;
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            border: 1px solid #bfb09d;
                            border-radius: 18px;
                            width: 23px;
                            height: 19px;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                        }
                    }
                    span {
                        margin-bottom: 17px;
                    }
                    img {
                        width: 71px;
                    }
                }
                &-sub4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                    .choice {
                        width: 17px;
                        height: 13px;
                        border-radius: 10px;
                        background-color: #67563D;
                        border: 1px solid #bfb09d;
                        border-radius: 14px;
                        margin: 10px;
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            border: 1px solid #bfb09d;
                            border-radius: 18px;
                            width: 23px;
                            height: 19px;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                        }
                    }
                    span {
                        margin-bottom: 15px;
                    }
                    img {
                        width: 71px;
                    }
                }
                &-sub5 {
                display: flex;
                flex-direction: column;
                align-items: center;
                    .choice {
                        width: 17px;
                        height: 13px;
                        border-radius: 10px;
                        background-color: #67563D;
                        border: 1px solid #bfb09d;
                        border-radius: 14px;
                        margin: 10px;
                        position: relative;
                        &::before {
                            content: "";
                            display: block;
                            border: 1px solid #bfb09d;
                            border-radius: 18px;
                            width: 23px;
                            height: 19px;
                            position: absolute;
                            top: -4px;
                            left: -4px;
                        }
                    }
                    span {
                        margin-bottom: 13px;
                    }
                    img {
                        width: 71px;
                    }
                }
            }
        }

        .col-4 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 1px;
                .block1 {
                    font-size: 22px;
                }
            }
            &__block2 {
                font-size: 14px;
                    .descr {
                        .head {
                            margin-top: 20px;
                            .block2 {
                                position: relative;
                                &:hover ~ .notice {
                                    visibility: visible;
                                }
                            }
                            .notice {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: 480px;
                                left: 35px;
                            }
                        } 
                    }

                .inner-ta {
                    margin-bottom: 20px;
                    .ta-block2 {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        padding-top: 4px;
                        padding-left: 7px;
                    }
                }
            }
            &__block3 {
                margin-bottom: 20px;
                font-size: 14px;
                .descr-1 {
                    .head-1 {
                        margin-top: 20px;
                        .block3 {
                            position: relative;
                            &:hover ~ .notice-1 {
                                visibility: visible;
                            }
                        }
                        .notice-1 {
                            margin-left: 70px;
                            color: #f4866e;
                            font-size: 14px;
                            white-space: nowrap;
                            visibility: hidden;
                            z-index: 1;
                            position: absolute;
                            top: 565px;
                            left: 73px;
                        }
                    }
                }
                .in-block3 {
                    input {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block4 {
                margin-bottom: 20px;
                .block4 {
                    font-size: 14px;
                }
                .in-block4 {
                    input {
                        border-radius: 8px;
                        outline: none;
                        width: 93%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block5 {
                margin-bottom: 20px;
                    font-size: 14px;
                    .descr-2 {
                        .head-2 {
                            margin-top: 20px;
                            .block5 {
                                position: relative;
                                &:hover ~ .notice-2 {
                                    visibility: visible;
                                }
                            }
                            .notice-2 {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: 694px;
                                left: -57px;
                            }
                        }
                    }
                    .wrap {
                        display: flex;
                            .in-block5 {
                                margin-left: -3px;
                                margin-right: 50px;
                                    textarea {
                                        border-radius: 8px;
                                        outline: none;
                                        width: 145%;
                                        border: 1px solid #bfb09d;
                                        padding: 4px 0 4px 7px;
                                    }
                            }
                            .block5-delim {
                                margin: 11px 70px 0 98px;
                                span {

                                }
                            }
                            .block5-but {
                                margin-top: -2px;
                                button {
                                    border: 0;
                                    width: 114px;
                                    height: 40px;
                                    border-radius: 12px;
                                    background-color: #fff;
                                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                                    font-size: 14px;
                                    color: #FF876C;
                                    outline: none;
                                    cursor: pointer;
                                }
                            }
                    }
                }
            }

        .col-5 {
            &__block1 {
                .block1 {
                    font-size: 22px;
                }
            }
            margin-bottom: 30px;
        }

        .col-6 {
            &__block1 {
                .block1 {
                    font-size: 22px;
                }
            }
            margin-bottom: 30px;
        }

        .col-7 {
            &__block1 {
                .block1 {
                    font-size: 22px;
                }
            }
            margin-bottom: 30px;
        }

        .col-8 {
            &__block1 {
                .block1 {
                    font-size: 22px;
                }
            }
            margin-bottom: 30px;
        }

        .col-9 {
            &__block1 {
                .block1 {
                    font-size: 22px;
                }
            }
            margin-bottom: 30px;
        }

        .star {
            color: red;
        }
    }
}