.copywritingWrapper {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    .container {
        position: relative;
        font-family: MyriadPro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 80px 0 80px;
        border: 1px solid #67563D;
        border-radius: 15px;;
        color: #67563D;
        position: relative;

    .copywriting-form {
        width: 100%;
        max-width: 520px;
        .col-1 {
            margin-bottom: 35px;
            &__block0 {
                color: #67573E;
                display: flex;
                align-items: center;
                margin-bottom: 30px;
                justify-content: space-between;
                .lblock {
                    width: 50%;
                    label {
                        font-size: 22px;
                        margin-bottom: 5px;
                    }
                    ::-webkit-input-placeholder {
                        opacity: 0.6;
                    } 
                    .name {
                        display: flex;
                        flex-direction: column;
                            input {
                                margin-left: 10px;
                                height: 28px;
                                padding-left: 5px;
                                padding-right: 5px;
                                border-radius: 7px;
                                border: 1px solid rgba(102, 86, 61, 0.5);
                                outline: none;
                                font-family: MyriadPro;
                                transition: all 0.2s;
                                &:focus {
                                    box-shadow: 0 0 5px rgba(102, 86, 61, 0.5);
                                }
                            }
                    }
                }
                .rblock {
                    width: 44%;
                    .name {
                        display: flex;
                        flex-direction: column;
                            .asterisk {
                                font-size: 22px;
                                margin-bottom: 5px;
                            }
                        }
                    .deadline {
                        display: flex;
                        align-items: center;
                        .picker {
                            input {
                                font-size: 14px;
                                text-align: center;
                                opacity: 0.7;
                                border-radius: 10px;
                                border: none;
                                padding: 8px;
                                width: 190px;
                                border: 1px solid rgba(102, 86, 61, 0.5);
                            }
                        }
                        .datepick {
                            img {
                                cursor: pointer;
                                padding-left: 5px;
                                padding-top: 7px;
                                width: 20px;
                                height: 20px;;
                            }
                        }
                    } 
                }
            }        
            &__block1 {
            margin-bottom: 15px;
            margin-top: 40px;
                .block1 {
                    margin-right: 5px;
                        &::after {
                            content: '*';
                            color: #f00;
                        }
                }
                .block2 {
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 10px;
                }
            }
            &__block2 {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10px;
                        &-sub1 {
                            display: flex;
                            align-items: center;
                            color: #67563D;
                            border: 1px solid #67563D;
                            border-radius: 16px;
                            padding: 7px;
                            background-color: #fff;
                            cursor: pointer;
                                .sub1 {
                                    margin-right: 20px;
                                    font-weight: bold;
                                }
                                img {
                                    margin-right: 10px;
                                }
                        }
                }
        }

        .col-2 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 10px;
                .asterisk {
                    font-size: 22px; 
                 }
            }
            &__block2 {
                .inner-langs {
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-bottom: 80px; 
                    &__title {
                        padding-left: 8px;
                        font-size: 14px;
                        }
                    &__select {
                        position: absolute;
                        margin-top: 5px;
                        max-height: 490px;
                        width: 100%;
                        max-width: 510px;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0 0 10px rgba(102, 86, 61, 0.6);
                        border-radius: 10px;
                        .select-text {
                            position: relative;
                            display: flex;
                            justify-content: space-between;
                            padding: 8px;
                            align-items: center;
                            min-height: 22px;
                            .span-wrapper {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                z-index: 10;
                                color: rgba(0, 0, 0, 0);
                            }
                            .icon {
                                padding-right: 15px;
                                font-size: 20px;
                            }
                            .reverse {
                                transform: rotate(180deg);
                                padding-right: 0;
                                padding-left: 15px;
                            }
                        }
                        .clarify {
                            color: #66563D;
                            opacity: 0.38;
                            font-size: 14px;
                            .icon {
                                opacity: 1;
                            }
                        }
                        .color{
                            opacity: 1;
                        }
                        .select__drop {
                            padding: 5px;
                            border-top: 1px solid #66563D;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            z-index: 10;
                            background-color: white;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            &-list {
                                .dialect {
                                    padding-left: 18px;
                                    position: absolute;
                                    opacity: 0;
                                    transform: translateY(-50px);
                                    transition: all .3s;
                                    z-index: -5;
                                    &_active{
                                        position: static;
                                        opacity: 1;
                                        transform: translateY(0px);
                                    }
                                }
                                .pair {
                                    padding: 2px;
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;
                                    transition: all 0.2s;
                                    position: relative;
                                    &_dialect {  
                                        &:before, &:after {
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            background-color: #66563D;
                                            left: -8px;
                                        }
                                        &:before {
                                            width: 10px;
                                            height: 1px;
                                            top: 10px;
                                        }
                                        &:after {
                                            width: 1px;
                                            height: 11px;
                                            top: 0;
                                        }
                                    }
                                    img {
                                        width: 23px;
                                        margin-right: 3px;
                                    }
                                    span {
                                        font-size: 12px;
                                    }
                                    .openIcon {
                                        width: 8px;
                                        padding-left: 5px;
                                    }
                                    .reverseOpenIcon {
                                        transform: rotate(180deg);
                                        padding-left: 0;
                                        padding-right: 5px;
                                    }
                                    &:hover {
                                        box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
                                        border-radius: 5px;
                                        span {
                                            transition: all 0.2s;
                                            transform: translateX(3px);
                                        }     
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-3 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 7px;
                .block1 {
                    font-size: 22px;
                    margin-right: 5px;
                        &::after {
                            content: '*';
                            color: #f00;
                        }
                }
            }
            &__block2 {
                padding-left: 10px;
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                height: 110px;
                    &-sub {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                        .checkTitle {
                            .selected {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    
                        span {
                            margin-bottom: 24px;
                            &:last-child {
                            margin-bottom: 10px;
                            }
                        }
                        img {
                            width: 71px;
                        }
                    }
            }
        }

        .col-4 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 1px;
                .block1 {
                    font-size: 22px;
                }
            }
            &__block2 {
                padding-left: 10px;
                font-size: 14px;
                    .descr {
                        .head {
                            position: relative;
                            margin-top: 20px;
                            // .block2 {
                            //     &:hover ~ .notice {
                            //         visibility: visible;
                            //     }
                            // }
                            .notice {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: -16px;
                                left: 1px;
                            }
                            .notice_vis {
                                visibility: visible;
                            }
                        }
                    }

                .inner-ta {
                    margin-bottom: 20px;
                    .ta-block2 {
                        font-family: MyriadPro;
                        border-radius: 8px;
                        outline: none;
                        width: 98%;
                        padding-top: 4px;
                        padding-left: 7px;
                        resize: none;
                    }
                }
            }
            &__block3 {
                padding-left: 10px;
                margin-bottom: 20px;
                font-size: 14px;
                .descr-1 {
                    .head-1 {
                        margin-top: 20px;
                        position: relative;
                        // .block3 {
                        //     &:hover ~ .notice-1 {
                        //         visibility: visible;
                        //     }
                        // }
                        .notice-1 {
                            margin-left: 70px;
                            color: #f4866e;
                            font-size: 14px;
                            white-space: nowrap;
                            visibility: hidden;
                            z-index: 1;
                            position: absolute;
                            top: -14px;
                            left: 38px;
                        }
                        .notice_1_vis {
                            visibility: visible;
                        }
                    }
                }
                .in-block3 {
                    input {
                        font-family: MyriadPro;
                        border-radius: 8px;
                        outline: none;
                        width: 98%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block4 {
                padding-left: 10px;
                margin-bottom: 20px;
                .block4 {
                    font-size: 14px;
                }
                .in-block4 {
                    input {
                        font-family: MyriadPro;
                        border-radius: 8px;
                        outline: none;
                        width: 98%;
                        border: 1px solid #bfb09d;
                        padding: 4px 0 4px 7px;
                    }
                }
            }
            &__block5 {
                padding-left: 10px;
                margin-bottom: 20px;
                    font-size: 14px;
                    .descr-2 {
                        .head-2 {
                            margin-top: 20px;
                            position: relative;
                            // .block5 {
                            //     &:hover ~ .notice-2 {
                            //         visibility: visible;
                            //     }
                            // }
                            .notice-2 {
                                margin-left: 70px;
                                color: #f4866e;
                                font-size: 14px;
                                white-space: nowrap;
                                visibility: hidden;
                                z-index: 1;
                                position: absolute;
                                top: -16px;
                                left: -57px;
                            }
                            .notice_2_vis {
                                visibility: visible;
                            }
                        }
                    }
                    .wrap {
                        display: flex;
                        justify-content: space-between;
                            .in-block5 {
                                width: 55%;
                                    textarea {
                                        font-family: MyriadPro;
                                        border-radius: 8px;
                                        outline: none;
                                        width: 100%;
                                        border: 1px solid #bfb09d;
                                        padding: 4px 0 4px 7px;
                                        resize: none;
                                    }
                            }
                            .block5-delim {
                                display: flex;
                                align-items: center;
                            }
                            .block5-but {
                                margin-top: -2px;
                                button {
                                    border: 0;
                                    width: 114px;
                                    height: 40px;
                                    border-radius: 12px;
                                    background-color: #D15F45;
                                    box-shadow: 1px 1px 5px rgba(102, 86, 61, 0.6);
                                    font-size: 14px;
                                    color: #FFF;
                                    outline: none;
                                    cursor: pointer;
                                }
                                .notSure {
                                    background-color: #fff;
                                    color: #66563D;
                                }
                            }
                    }
                }

                &__block6 {
                    padding-left: 10px;
                    font-size: 14px;
                    margin-bottom: 30px;
                    display: flex;
                        &-header {
                           margin-bottom: 15px;
                           width: 100%;
                        }
                        .block6 {
                            margin-right: 6px;
                        }
                        &-main {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            .main-outer {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border: 1px solid rgba(102, 86, 61, 0.38);
                                margin-bottom: 15px;
                                width: 236px;
                                height: 105px;
                                .descr-3 {
                                    margin-top: 8px;
                                    .head-3 { 
                                        position: relative;
                                        justify-content: center;
                                        align-items: center;
                                        text-align: center;
                                        padding: 0 5px;
                                        img {
                                            margin-left: 3px;
                                           &:hover ~ .rsp {
                                                visibility: visible;
                                            } 
                                        }
                                        .rsp {
                                            position: absolute;
                                            color: #D15F45;
                                            top: 40px;
                                            left: 16px;
                                            width: 230px;
                                            visibility: hidden;
                                            font-size: 14px;
                                            opacity: 0.78;
                                        }
                                        .rspSecond {
                                            position: absolute;
                                            color: #D15F45;
                                            top: 55px;
                                            left: -9px;
                                            width: 230px;
                                            visibility: hidden;
                                        }
                                    }
                                }
                                    
                            }
                            .copyoptionChecked {
                                border: 1px solid #66563D;
                              }
                        }
                }
                &__block7 {
                    padding-left: 10px;
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                        .first {
                            display: flex;
                            flex-direction: column;
                            .exp {
                                margin-bottom: 12px;
                            }
                            .in {
                                border-radius: 12px;
                                outline: none;
                                border-style: none;
                                border: 1px solid #66563D;
                                opacity: 0.5;
                                margin-bottom: 12px;
                                font-size: 14px;
                                width: 170px;
                                height: 37px;
                            }
                            ::-webkit-input-placeholder {
                                text-align: center;
                            }
                            .url {
                                display: flex;
                                justify-content: center;
                                opacity: 0.5;
                                font-size: 12px;
                            }
                        }
                        .second {
                            display: flex;
                            flex-direction: column;
                            margin-top: 29px;
                            width: 170px;
                            .uploadBtn {
                                overflow: hidden;
                                position: relative;
                                width: 65%;
                                padding: 11px 30px;
                                border-radius: 12px;
                                -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
                                box-shadow: 0 3px 5px rgba(102, 86, 61, 0.6);
                                background-color: #D15F45;
                                cursor: pointer;
                                margin-right: 15px;
                                margin-bottom: 10px;
                                    &__text {
                                        z-index: 1;
                                        position: relative;
                                        color: #fff;
                                        font-size: 15px;
                                        font-family: MyriadPro;
                                        text-align: center;
                                    }
                                    input {
                                        top: 1px;
                                        right: 0;
                                        z-index: 2;
                                        position: absolute;
                                        cursor: pointer;
                                        opacity: 0;
                                        filter: alpha(opacity=0);
                                        font-size: 50px;
                                        font-family: MyriadPro;
                                        width: 170px;
                                    }
                            }
                            .se {
                                opacity: 0.5;
                                font-size: 12px;
                                margin-left: 35px;
                            }  
                        }
                }
            }

        .col-5 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 10px;
                .block1 {
                    font-size: 22px;
                }
            }
            .block1-wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .sub {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // border: 0.5px solid #bfb09d;
                    // margin: 10px 43px 10px 0px;
                    cursor: pointer;
                    .title {
                        // padding: 0 20px 10px 20px;
                        white-space: nowrap;
                        font-size: 14px; 
                    }
                    // .sec_title {
                    //     padding: 10px 0 10px 10px;
                    // }
                    // .four_title {
                    //     padding: 10px 9px 10px 10px;
                    // }
                    img {
                        margin: 10px 30px;
                    }
                    textare {
                        display: none;
                    }
                    .textarea_vis {
                        font-family: MyriadPro;
                        display: block;
                        border-radius: 8px;
                        border-style: ridge;
                        padding: 20px 12px;
                        margin-left: 10px;
                        resize: none;
                        outline: none;
                        width: 105px;
                        margin-top: 6px;
                    }
                    // &:hover {
                    //     box-shadow: 0 0 4px #66563D;
                    // }
                }
                .sub_unbord {
                    // border: none;
                    .title {
                        .four_title {
                            margin-bottom: 32px;
                        }
                    }
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }

        .col-6 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 14px;
                .block1 {
                    margin-right: 6px;
                    font-size: 22px;
                }
            }
            &__block2 {
                display: flex;
                justify-content: space-around;
                    .sub {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;
                            img {
                                width: 44px;
                                height: 23px;
                            }
                    }
            }
        }

        .col-7 {
            margin-bottom: 30px;
            &__block1 {
                margin-bottom: 30px;
                .copytone {
                    margin-right: 6px;
                    font-size: 22px;
                }
            }
            .voiceChekers {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 10px;
                margin-top: 20px;
                max-height: 158px;
                .inner-option {
                    display: flex;
                    width: 36.5%;
                    flex-direction: row;
                    margin-bottom: 20px;
                    align-items: center;
                    .voiceTitle {
                        padding-left: 10px;
                    }
                    input {
                        width: 54px;
                        height: 28px;
                        margin-left: 10px;
                        border: 1px solid rgba(102, 86, 61, 0.7);
                        border-radius: 5px;
                        font-family: MyriadPro;
                        outline: none;        
                    }
                    &__check {
                        border-radius: 0;
                        width: 18px;
                        height: 18px;
                        border: 1px solid #66563D;
                        .checker {
                            background-color: #FFF;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 4px;
                                background-color: #66563D;
                                bottom: -11px;
                                left: 0px;
                                transform: rotate(40deg);
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 4px;
                                height: 13px;
                                background-color: #66563D;
                                bottom: -13;
                                right: 5px;
                                transform: rotate(40deg);
                            }
                        }
                    }
                }
            }
        }

        .col-8 {
            margin-bottom: 40px;
            &__block1 {
                display: flex;
                margin-bottom: 20px;
                .block1 {
                    font-size: 22px;
                    margin-right: 20px;
                }
            }
                .toggle {
                    width: 76px;
                    height: 28px;
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s;
                    .toggler {
                        position: absolute;
                        width: 46%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgb(155, 155, 155);
                        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
                        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
                        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
                        box-shadow: 0 0 3px rgba(102, 86, 61, 0.6);
                        z-index: 2;
                        transition: all 0.2s;
                    }
                    .yes, .no {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        transition: all 0.2s;
                        span {
                            padding-top: 3px;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                        }
                    }
                    .yes {
                        width: 45%;
                        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #82CD8F;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    .no {
                        width: 55%;
                        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #978D7E;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                .positive {
                    .toggler {
                        transform: translateX(41px);
                    }
                    .yes {
                        width: 55%;
                    }
                    .no {
                        width: 45%;
                    }
            }
            &__block3 {
                display: flex;
                justify-content: space-between;
                .designChekers {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-left: 10px;
                    margin-top: 20px;
                    max-height: 158px;
                    justify-content: space-between;
                    .desinner-option {
                        display: flex;
                        width: 16%;
                        flex-direction: row;
                        margin-bottom: 20px;
                        align-items: center;
                        .designTitle {
                            padding-left: 10px;
                        }
                        input {
                            width: 54px;
                            height: 28px;
                            margin-left: 10px;
                            border: 1px solid rgba(102, 86, 61, 0.7);
                            border-radius: 5px;
                            font-family: MyriadPro;
                            outline: none;        
                        }
                        &__check {
                            border-radius: 0;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #66563D;
                            .checker {
                                background-color: #FFF;
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 10px;
                                    height: 4px;
                                    background-color: #66563D;
                                    bottom: -11px;
                                    left: 0px;
                                    transform: rotate(40deg);
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 4px;
                                    height: 13px;
                                    background-color: #66563D;
                                    bottom: -13;
                                    right: 5px;
                                    transform: rotate(40deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-9 {
            margin-bottom: 30px;
            &__block1 {
                margin-right: 47px;
                display: flex;
                margin-bottom: 20px;
                .block1 {
                    font-size: 22px;
                    margin-right: 45px;
                    padding-right: 8px;
                }
                .toggle {
                    width: 76px;
                    height: 28px;
                    display: flex;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s;
                    .toggler {
                        position: absolute;
                        width: 46%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgb(155, 155, 155);
                        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
                        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
                        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
                        box-shadow: 0 0 3px rgba(0,0,0,0.5);
                        z-index: 2;
                        transition: all 0.2s;
                    }
                    .yes, .no {
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        transition: all 0.2s;
                        span {
                            padding-top: 3px;
                            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                        }
                    }
                    .yes {
                        width: 45%;
                        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #82CD8F;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                    .no {
                        width: 55%;
                        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
                        background-color: #978D7E;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

            .positive {
                .toggler {
                    transform: translateX(41px);
                }
                .yes {
                    width: 64%;
                }
                .no {
                    width: 45%;
                }
              }
            }
            &__block2 {
                display: flex;
                flex-direction: column;
                max-height: 125px;
                margin-bottom: 20px;
                    .sub {
                        display: flex;
                        padding-left: 10px;
                        margin-bottom: 10px;
                        &__choose {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            .title1 {
                                width: 25%;
                            }
                            input {
                                width: 75%;
                                border-radius: 10px;
                                outline: none;
                                border: 1px solid #66563D;
                                height: 24px;
                                padding: 0 10px;
                            }
                        }
                    }
            }
            &__block3 {
                margin-bottom: 77px;
                .bot {
                    .buttonWrap {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 20px;
                        position: relative;
                            input {
                                background-color: #D15F45;
                                outline: none;
                                box-shadow: 0 3px 5px rgba(102, 86, 61, 0.6);    
                                color: #fff;
                                width: 164px;
                                height: 40px;
                                border: none;
                                border-radius: 10px;
                                margin-top: 15px;
                                cursor: pointer;
                            }
                            .foot {
                                opacity: 0.67;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                left: -17px;
                                bottom: 75px;
                        }
                    }
                }
            }
        }
        .star {
            color: red;
        }

        .empty-check {
            border: 1px solid #bfb09d;
            border-radius: 18px;
            width: 16px;
            height: 16px;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .check-sel {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background-color: #67563D;
            border-radius: 14px;
        }
        
        .activeType {
            background-color: #66563D;
            opacity: 0.67;
            color: #fff;
        }
    }
}
.color{
    opacity: 1;
}

.orderInfoCopy {
font-family: MyriadPro;
color: #66563D;
transition: all 0.7s;
margin-left: 30px;
padding-bottom: 20px;
border: 1px solid #66563D;
border-radius: 15px;
position: sticky;
top: 7px;
right: 20px;
width: 250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
&__title {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    h3 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    font-weight: normal;
    }
}
&__summary {
    padding: 10px 20px 0; 
    p {
    padding-left: 20px;
    }        
    span {
    font-size: 30px;
    padding-right: 5px;
    font-family: MyriadBold;
    }
    label {
    font-size: 18px;
    font-family: MyriadBold;
    }
    .check {
    margin-top: 5px;
    color: #D15F45;
    font-family: MyriadPro;
    }
    &-languages {
    p {
        .check {
        font-size: 16px;
        color: #D15F45;
        }
    }
    }
    &-deadline {
    p {
        .check {
        font-size: 16px;
        color: #D15F45;
        }
    }
    }       
}
}
}

.asterisk {
    .warning & {
      font-size: 20px;
      position: relative;
      padding-right: 15px;
    }
    &:after {
      content: '*';
      color: #F00;
      .warning & {
        position: absolute;
        font-size: 30px;
        right: -1px;
      }
    }
  }

  .vdp-datepicker__calendar {
    div {
      .day-header {
        font-weight: bold;
        font-size: 16px;
      }
      .cell {
        background-color: #eaeaea;
      }
    }
  }

  .copydetails {
    padding-bottom: 0;
    flex-direction: column;
    margin-bottom: 38px;
    &__quote {
      margin-top: 30px;
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      .send, .start {
        display: flex;
        align-items: center;
        border: 1px solid rgba(102, 86, 61, 0.38);        
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        margin-right: 0;
        cursor: pointer;
        flex-direction: column;
        width: 236px;
        height: 105px;
        &__check {
          width: 18px;
          height: 18px;
          margin-top: 5px;
          border: 1px solid #66563D;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .checker {
            width: 67%;
            height: 67%;
            border-radius: 69%;
          }
          .checkerChecked {
            background-color: #66563D;
          }
        }
        &__text {
          width: 88%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .head {
            margin: 5px 0;
            font-size: 14px;
            font-weight: bold;
          }
          .insideText {
            font-size: 12px;
            margin-top: 0;
            text-align: center;
          }
        }
      }
    }
  }

.inform-icon {
    margin-bottom: -4px;
    margin-left: -4px;
}
.sureOptions {
    display: flex;
    justify-content: space-between;
}
.in_block5_opac {
    opacity: 0.5;
}

.voiceChekers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
    margin-top: 20px;
    max-height: 158px;
    .inner-option {
        display: flex;
        width: 36.5%;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
        .seoadd1 {
            width: 49.5%;
        }
        .voiceTitle {
            padding-left: 10px;
        }
        input {
            width: 54px;
            height: 28px;
            margin-left: 10px;
            border: 1px solid rgba(102, 86, 61, 0.7);
            border-radius: 5px;
            font-family: MyriadPro;
            outline: none;        
        }
        &__check {
            border-radius: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #66563D;
            .checker {
                background-color: #FFF;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 4px;
                    background-color: #66563D;
                    bottom: -11px;
                    left: 0px;
                    transform: rotate(40deg);
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 13px;
                    background-color: #66563D;
                    bottom: -13;
                    right: 5px;
                    transform: rotate(40deg);
                }
            }
        }
    }
    .additionalInn {
        width: 68.5%;
    }                     
}

.seoadd {
    margin-top: 4px;
    width: 62%;
    margin-left: 30px;
 }
 
 .copyoptionChecked {
    transition: all 0.2s;
    box-shadow: 0 0 7px rgba(102, 86, 61, 0.6);
    border: 1px solid #66563D;
  }