.mark-option {
    width: 95%;
    margin-bottom: 50px;
    &__title {
        font-size: 22px;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        input.proj {
            margin-top: 15px;
            width: 97%;
            outline: none;
            border: 1px solid #66563D;
            border-radius: 7px;
            padding: 3px;
            height:19px;
            font-family: MyriadPro;
        }
        ::-webkit-input-placeholder {
            opacity: 0.6;
        }
        .inner-option {
            font-size: 14px;
            margin-top: 10px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__image {
                display: flex;
                justify-content: center;
            }
            &__check {
                width: 16px;
                height: 16px;
                border: 1px solid #BFB09D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .checker {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #66563D;
                }
            }
        }
        .style {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            .inner-option__check {
                margin-right: 5px;
            }
        }
        .inner-langs {
            margin-top: 10px;
            margin-left: 20px;
            &__title {
                padding-left: 15px;
                font-size: 14px;
            }
            &__select {
                margin-top: 5px;
                max-height: 490px;
                width: 490px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 10px rgba(0,0,0,0.6);
                border-radius: 10px;
                .select-text {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 8px;
                    align-items: center;
                    min-height: 22px;
                    .span-wrapper {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 10;
                        color: rgba(0, 0, 0, 0);
                    }
                    .icon {
                        padding-right: 15px;
                        font-size: 20px;
                    }
                    .reverse {
                        transform: rotate(180deg);
                        padding-right: 0;
                        padding-left: 15px;
                    }
                }
                .clarify {
                    color: #66563D;
                    opacity: 0.38;
                    font-size: 14px;
                    .icon {
                        opacity: 1;
                    }
                }
                .color{
                    opacity: 1;
                }
                .select__drop {
                    padding: 5px;
                    border-top: 1px solid #66563D;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    &-list {
                        .dialect {
                            padding-left: 18px;
                            position: absolute;
                            opacity: 0;
                            transform: translateY(-50px);
                            transition: all .3s;
                            z-index: -5;
                            &_active{
                                position: static;
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                        .pair {
                            padding: 2px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            transition: all 0.3s;
                            position: relative;
                            &_dialect {  
                                &:before, &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    background-color: #66563D;
                                    left: -8px;
                                }
                                &:before {
                                    width: 10px;
                                    height: 1px;
                                    top: 10px;
                                }
                                &:after {
                                    width: 1px;
                                    height: 11px;
                                    top: 0;
                                }
                            }
                            img {
                                width: 23px;
                                margin-right: 3px;
                            }
                            .list-item {
                                font-size: 12px;
                            }
                            .toneSpan {
                                font-size: 14px
                            }
                            .toneInput {
                                font-family: MyriadPro;
                                outline: none;
                                width: 100px;
                                margin-left: 10px;
                                padding: 2px;
                                border-radius: 10px;
                                border: 1px solid #66563D;
                            }
                            .openIcon {
                                width: 8px;
                                padding-left: 5px;
                            }
                            .reverseOpenIcon {
                                transform: rotate(180deg);
                                padding-left: 0;
                                padding-right: 5px;
                            }
                            &:hover {
                                box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
                                border-radius: 5px;
                                span {
                                    transition: all 0.4s;
                                    transform: translateX(3px);
                                }     
                            }
                        }
                    }
                }
            }
        }
        .toneSelect {
            width: 177px;
        }
    }
    .styleInner {
        margin-top: 30px;
    }
    .genBrief {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .innerTitle {
            font-size: 14px;
        }
        &__item {
            width: 100%;
            margin-bottom: 25px;
            input {
                outline: none;
                width: 97%;
                border: 1px solid #66563D;
                border-radius: 7px;
                height: 17px;
                padding: 6px;
                font-family: MyriadPro;             
            }
            textarea {
                outline: none;
                width: 97%;
                border: 1px solid #66563D;
                border-radius: 7px;
                height: 17px;
                padding: 6px;
                overflow: hidden;
                transition: all 0.3s;
                resize: none;
                font-family: MyriadPro;                
            }
            .inner-topics {
                &__textField {
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input {
                        width: 55%;
                        padding: 6px;
                        height: 17px;
                        border: 1px solid #66563D;
                        border-radius: 7px;
                        font-family: MyriadPro;                         
                    }
                    button {
                        font-size: 16px;
                        width: 114px;
                        height: 40px;
                        border-radius: 14px;
                        border: none;
                        box-shadow: 0 2.5px 7px rgba(0,0,0,0.5);
                        color: #ff876c;
                        background-color: white;
                        cursor: pointer;
                        outline: none;
                    }
                    .notSure {
                        color: #66563D;
                    }
                }
                &__hiddenText {
                    margin-top: 25px;
                    font-size: 14px;
                    p {
                        margin-top: 5px;
                        .strong {
                            font-weight: bold;
                        }
                    }
                    p.asterisk {
                        margin-bottom: 5px;
                    }
                    ul {
                        width: 100%;
                        margin: 3px 0;
                        padding-left: 15px;
                        li {
                            margin-bottom: 5px;
                            padding-left: 7px;
                            .strong {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .inner-examples {
                &__textField {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 15px;
                }
                &__web {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 10px; 
                    input {
                        width: 150px;
                        height: 40px;
                        padding: 0 10px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
                        font-family: MyriadPro;             
                    }
                    ::-webkit-input-placeholder {
                        text-align: center;
                        opacity: 0.5;
                    }
                    .under {
                        padding-top: 12px;
                        font-size: 12px;
                    }
                }
                            
                &__button {
                    position: relative;
                    width: 146px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        font-size: 14px;
                    }
                    .uploadBtn {
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        padding: 12px;
                        border-radius: 12px;
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
                        background-color: #FF876C;
                        cursor: pointer;
                        margin-right: 15px;
                        &:hover {
                            box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);     
                        } 
                        &__txt {
                            z-index: 1;
                            position: relative;
                            color: #fff;
                            font-size: 15px;
                            font-family: MyriadPro;
                            text-align: center;
                        }
                        input {
                            top: 1px;
                            right: 0;
                            z-index: 2;
                            position: absolute;
                            cursor: pointer;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            font-size: 50px;
                            font-family: MyriadPro;
                        }
                    }
                    .under {
                        padding-top: 12px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .voiceChekers {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;
        margin-top: 20px;
        .inner-option {
            width: 37%;
            flex-direction: row;
            margin-bottom: 20px;
            align-items: center;
            .voiceTitle {
                padding-left: 10px;
            }
            input {
                width: 73px;
                height: 24px;
                margin-left: 10px;
                border: 1px solid #66563D;
                font-family: MyriadPro;             
            }
        }
    }
}
.mark-footer {
    width: 100%;
    position: relative;
    margin-top: 50px;
    .clarify {
        position: absolute;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
}
.submit {
    background-color: #ff876c;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);    
    color: #fff;
    width: 83px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.active {
color: #FF876C;
}

.innerTitle {
    &__title {
        position: relative;
        .tooltip {
            position: absolute;
            color: #F4866E;
            width: 500px;
            top: -15px;
            visibility: hidden;
            transition: all 0.3s;
            .inner-topics__title & {
                left: 10px;
                width: 570px;
            }
            .inner-subject__title & {
                top: -3px;
                left: 160px;
            }
            .inner-bonus__title & {
                top: -2px;
                left: 140px;
            }
        }
        &:hover {
            .tooltip {
                visibility: visible;
            }
        }
    }
}

.toggle {
    width: 76px;
    height: 28px;
    display: flex;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;    
    .toggler {
        position: absolute;
        width: 46%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(155, 155, 155);
        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        z-index: 2;
        transition: all 0.3s;        
    }
    .yes, .no {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: all 0.3s;
        span {
            padding-top: 3px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }
    }
    .yes {
        width: 45%;
        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
        background-color: #82CD8F;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .no {
        width: 55%;
        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
        background-color: #978D7E;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.positive {
    .toggler {
        transform: translateX(41px);
    }
    .yes {
        width: 55%;
    }
    .no {
        width: 45%;
    }
}

.switching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin-bottom: 15px;
}
