.marketingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 520px;
}

.markdetails {
    padding-bottom: 0;
    flex-direction: column;
    margin-bottom: 38px;
    &__quote {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 60px;
        .send, .start {
            display: flex;
            align-items: center;
            border: 1px solid rgba(102, 86, 61, 0.38);        
            padding-left: 10px;
            padding-right: 10px;
            margin: 10px;
            margin-right: 0;
            cursor: pointer;
            flex-direction: column;
            width: 236px;
            height: 105px;
            &__check {
                width: 16px;
                height: 16px;
                margin-top: 5px;
                border: 1px solid #66563D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .checker {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                }
                .checkerChecked {
                    background-color: #66563D;
                }
            }
            &__text {
                width: 88%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .head {
                    margin-bottom: 5px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .innerText {
                    text-align: center;
                    font-size: 12px;
                    margin-top: 0;
                }
            }
        }
        .markoptionChecked {
            box-shadow: 0 0 7px rgba(102, 86, 61, 0.6);
            border: 1px solid #66563D;            
        }

    }
}

  
.mark-option {
    margin-bottom: 35px;
    .nwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .lblockm {
            display: flex;
            flex-direction: column;
            width: 50%;
            .mark-option__title1 {
                font-size: 22px;
                margin-bottom: 5px;
                    .asterisk {
                        font-size: 22px;
                    }
                }
                input.proj {
                    width: 280px;
                    height: 28px;
                    padding-left: 5px;
                    padding-right: 5px;
                    border-radius: 4px;
                    border: 1px solid rgba(102, 86, 61, .5);
                    outline: none;
                    font-family: Myriad400;
                    transition: all 0.2s;
                    &:focus {
                        box-shadow: 0 0 3px rgba(102, 86, 61, 0.6);
                    }                   
                }
                ::-webkit-input-placeholder {
                    opacity: 0.6;
                }
        }
        .rblockm {
            display: flex;
            flex-direction: column;
            width: 44%;
            .mark-option__title1 {
                font-size: 22px;
                margin-bottom: 5px;
                    .asterisk {
                        font-size: 22px;
                    }
                }
            .deadline {
                display: flex;
                align-items: center;
                .picker {
                    input {
                        font-size: 14px;
                        text-align: center;
                        opacity: 0.7;
                        border-radius: 4px;
                        border: none;
                        padding: 8px;
                        width: 190px;
                        border: 1px solid rgba(102, 86, 61, .5);

                    }
                }
                .datepick {
                    img {
                        cursor: pointer;
                        padding-left: 5px;
                        padding-top: 7px;
                        width: 20px;
                        height: 20px;;
                    }
                }
            } 
        }
    }
    &__title2 {
        font-size: 22px;
    }
    &__inner {
        padding-left: 10px;
        display: flex;
        align-items: center;
        .inner-option {
            font-size: 14px;
            margin-top: 10px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__check {
                width: 16px;
                height: 16px;
                border: 1px solid #BFB09D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .checker {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #66563D;
                }
            }
        }
        .style {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            .inner-option__check {
                margin-bottom: 5px;
            }
        }
        .inner-langs {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 45px;
            &__title {
                font-size: 14px;
            }
            &__select {
                position: absolute;
                left: 10px;
                margin-top: 5px;
                max-height: 490px;
                width: 510px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 10px rgba(102, 86, 61, 0.6);
                border-radius: 4px;
                background-color: #fff;
                z-index: 10;
                .select-text {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 8px;
                    align-items: center;
                    min-height: 22px;
                    .span-wrapper {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 10;
                        color: rgba(0, 0, 0, 0);
                    }
                    .icon {
                        padding-right: 15px;
                        font-size: 20px;
                    }
                    .reverse {
                        transform: rotate(180deg);
                        padding-right: 0;
                        padding-left: 15px;
                    }
                }
                .clarify {
                    color: #66563D;
                    opacity: 0.38;
                    font-size: 14px;
                    .icon {
                        opacity: 1;
                    }
                }
                .color{
                    opacity: 1;
                }
                .select__drop {
                    padding: 5px;
                    border-top: 1px solid #66563D;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    &-list {
                        .dialect {
                            padding-left: 18px;
                            position: absolute;
                            opacity: 0;
                            transform: translateY(-50px);
                            transition: all .3s;
                            z-index: -5;
                            &_active{
                                position: static;
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                        .pair {
                            padding: 2px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            transition: all 0.2s;
                            position: relative;
                            &_dialect {  
                                &:before, &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    background-color: #66563D;
                                    left: -8px;
                                }
                                &:before {
                                    width: 10px;
                                    height: 1px;
                                    top: 10px;
                                }
                                &:after {
                                    width: 1px;
                                    height: 11px;
                                    top: 0;
                                }
                            }
                            img {
                                width: 23px;
                                margin-right: 3px;
                            }
                            .list-item {
                                font-size: 12px;
                            }
                            .toneSpan {
                                font-size: 14px
                            }
                            .toneInput {
                                font-family: Myriad400;
                                outline: none;
                                width: 100px;
                                margin-left: 10px;
                                padding: 2px;
                                border-radius: 4px;
                                border: 1px solid #66563D;
                            }
                            .openIcon {
                                width: 8px;
                                padding-left: 5px;
                            }
                            .reverseOpenIcon {
                                transform: rotate(180deg);
                                padding-left: 0;
                                padding-right: 5px;
                            }
                            &:hover {
                                box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
                                border-radius: 4px;
                                span {
                                    transition: all 0.2s;
                                    transform: translateX(3px);
                                }     
                            }
                        }
                    }
                }
            }
        }
        .toneSelect {
            width: 177px;
        }
    }
    .styleInner {
        margin-top: 30px;
    }
    .genBrief {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .innerTitle {
            font-size: 14px;
            display: flex;
            align-items: center;
        }
        &__item {
            width: 100%;
            margin-bottom: 25px;
            input {
                outline: none;
                width: 97%;
                border: 1px solid #66563D;
                border-radius: 4px;
                height: 17px;
                padding: 6px;
                font-family: Myriad400;
            }
            textarea {
                outline: none;
                width: 97%;
                border: 1px solid #66563D;
                border-radius: 4px;
                height: 17px;
                padding: 6px;
                overflow: hidden;
                transition: all 0.2s;
                resize: none;
                font-family: Myriad400;
            }
            .inner-topics {
                &__textField {
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input {
                        width: 55%;
                        padding: 6px;
                        height: 17px;
                        border: 1px solid #66563D;
                        border-radius: 4px;
                        font-family: Myriad400;
                    }
                    button {
                        font-size: 16px;
                        width: 114px;
                        height: 40px;
                        border-radius: 14px;
                        border: none;
                        box-shadow: 0 2.5px 7px rgba(0,0,0,0.5);
                        color: #FFF;
                        background-color: #D15F45;
                        cursor: pointer;
                        outline: none;
                        font-size: 14px;
                    }
                    .notSure {
                        color: #66563D;
                        background-color: #FFF;
                    }
                }
                &__hiddenText {
                    margin-top: 25px;
                    font-size: 14px;
                    p {
                        margin-top: 5px;
                        .strong {
                            font-weight: bold;
                        }
                    }
                    p.asterisk {
                        margin-bottom: 5px;
                    }
                    ul {
                        width: 100%;
                        margin: 3px 0;
                        padding-left: 15px;
                        li {
                            margin-bottom: 5px;
                            padding-left: 7px;
                            .strong {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .inner-examples {
                &__textField {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 15px;
                }
                &__web {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    input {
                        width: 150px;
                        height: 40px;
                        padding: 0 10px;
                        border-radius: 4px;
                        border: none;
                        outline: none;
                        border: 1px solid rgba(102, 86, 61, 0.7);
                        font-family: Myriad400;
                    }
                    ::-webkit-input-placeholder {
                        text-align: center;
                        opacity: 0.5;
                    }
                    .under {
                        padding-top: 12px;
                        font-size: 12px;
                    }
                }
                            
                &__button {
                    position: relative;
                    width: 170px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        font-size: 14px;
                    }
                    .uploadBtn {
                        overflow: hidden;
                        position: relative;
                        width: 86%;
                        padding: 12px;
                        border-radius: 4px;
                        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
                        background-color: #D15F45;
                        cursor: pointer;
                        &:hover {
                            box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);     
                        } 
                        &__txt {
                            z-index: 1;
                            position: relative;
                            color: #fff;
                            font-size: 15px;
                            font-family: Myriad400;
                            text-align: center;
                        }
                        input {
                            top: 1px;
                            right: 0;
                            z-index: 2;
                            position: absolute;
                            cursor: pointer;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            font-size: 50px;
                            font-family: Myriad400;
                        }
                    }
                    .under {
                        padding-top: 12px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .voiceChekers {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10px;
        margin-top: 20px;
        max-height: 165px;
        .inner-option {
            width: 36.5%;
            flex-direction: row;
            margin-bottom: 20px;
            align-items: center;
            .voiceTitle {
                padding-left: 10px;
            }
            input {
                width: 54px;
                height: 28px;
                margin-left: 10px;
                border: 1px solid rgba(102, 86, 61, 0.7);
                border-radius: 4px;
                font-family: Myriad400;
            }
            &__check {
                border-radius: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #66563D;
                .checker {
                    background-color: #FFF;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 4px;
                        background-color: #66563D;
                        bottom: 2px;
                        left: -2px;
                        transform: rotate(40deg);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 13px;
                        background-color: #66563D;
                        bottom: 0;
                        right: 1px;
                        transform: rotate(40deg);
                    }
                }
            }
        }
    }
}
.mark-footer {
    width: 100%;
    position: relative;
    margin-top: 50px;
    .clarify {
        position: absolute;
        width: 100%;
        font-size: 12px;
        text-align: center;
        bottom: 110px;
    }
}
.submit {
    background-color: #D15F45;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);    
    color: #fff;
    width: 164px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    margin: 0 auto;
}
.active {
color: #D15F45;
}

.innerTitle {
    &__title {
        position: relative;
        .tooltip {
            position: absolute;
            color: #F4866E;
            width: 500px;
            top: -15px;
            transition: all 0.2s;
            .inner-topics__title & {
                left: 10px;
                width: 570px;
            }
            .inner-subject__title & {
                top: -3px;
                left: 160px;
            }
            .inner-bonus__title & {
                top: -2px;
                left: 140px;
            }
        }
    }
    img {
        padding-bottom: 2px;
        cursor: pointer;
    }
}

.toggle {
    width: 76px;
    height: 28px;
    display: flex;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    .toggler {
        position: absolute;
        width: 46%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(155, 155, 155);
        background: -moz-linear-gradient(top, rgba(185, 185, 185, 0.699) 11%, rgba(170, 170, 170,1) 100%);
        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.76) 11%,rgba(170, 170, 170,1) 100%);
        background: linear-gradient(to bottom, rgb(238, 238, 238) 11%,rgba(170, 170, 170,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        z-index: 2;
        transition: all 0.2s;
    }
    .yes, .no {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: all 0.2s;
        span {
            padding-top: 3px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        }
    }
    .yes {
        width: 45%;
        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5);
        background-color: #82CD8F;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .no {
        width: 55%;
        box-shadow: inset -2px 2px 5px rgba(0,0,0,0.5);
        background-color: #978D7E;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.positive {
    .toggler {
        transform: translateX(41px);
    }
    .yes {
        width: 55%;
    }
    .no {
        width: 45%;
    }
}

.switching {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    margin-bottom: 15px;
}

.asterisk {
    .warning & {
      font-size: 20px;
      position: relative;
      padding-right: 15px;
    }
    &:after {
      content: '*';
      color: #F00;
      .warning & {
        position: absolute;
        font-size: 30px;
        right: -1px;
      }
    }
  }

  .vdp-datepicker__calendar {
    div {
      .day-header {
        font-weight: bold;
        font-size: 16px;
      }
      .cell {
        background-color: #eaeaea;
      }
    }
  }

  .disable {
      opacity: 0.5;
  }