html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Myriad400;
}

html {
    line-height: 1.15
}

input, textarea {
    font-family: Myriad400;
}

button {
    font-family: Myriad400;
}

blockquote, q {
    quotes: none;
}

input[type="checkbox"] {
    margin: 0;
}