@keyframes blink { 
    50% { border-color: #ff0000; } 
  }

  body {
    margin: 0;
  }
  
  .top {
    display: flex;
    flex-direction: column;
  }
  
  .mainWrapper {
    position: relative;
    padding: 0;
    margin: 40px auto;
    max-width: 1320px;
    display: flex;
    align-items: flex-start;
    @media (max-width: 1024px) {
      max-width: 100%;
      min-width: 100%;
    }
    @media (max-width: 767px) {
      margin: 0;
      min-width: 100%;
    }
    .orderInfo {
      font-family: MyriadPro;
      color: #66563D;
      transition: all 0.7s;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      @media (max-width: 1023px) {
        display: none;
      }
      margin-left: 30px;
      padding-bottom: 20px;
      border: 1px solid;
      border-radius: 15px;
      position: sticky;
      top: 7px;
      right: 20px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__title {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        h3 {
          font-size: 22px;
          margin-bottom: 5px;
          margin-top: 15px;
          text-align: center;
          font-weight: normal;
        }
      }
      &__summary {
        box-sizing: content-box;
        padding: 10px 20px 0; 
        p {
          padding-left: 20px;
          margin-bottom: 12px;
        }        
        span {
          font-size: 30px;
          padding-right: 5px;
          font-family: MyriadBold;
        }
        label {
          font-size: 18px;
          font-family: MyriadBold;
          margin-bottom: 0;
        }
        .choice {
          margin-top: 5px;
          color: #FF876C;
          font-family: MyriadPro;
        }
        &-languages {
          p {
            .choice {
              font-size: 16px;
              color: #FF876C;
            }
          }
        }
        &-deadline {
          p {
            .choice {
              font-size: 16px;
              color: #FF876C;
            }
          }
        }       
      }
    }
    .slideToShow {
      @media (max-width: 1023px) {
        transition: all 1s;
        display: flex;
        transform: translateX(0);
        background-color: white;
        position: fixed;
        right: 3px;
        top: 68px;
        z-index: 5;
      }
    }
  }
  .container {
    margin-bottom: 45px;
    width: 786px;
    position: relative;
    color: #66563D;
    font-family: MyriadPro;
    margin-left: 20%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    box-shadow: 0 0 5px rgba(102, 86, 61, 0.5);
    border-radius: 15px;
    @media (max-width: 1320px) {
      margin-left: 3%;
      width: 55%;
    }
    @media (max-width: 1070px) {
      margin: 5px;
      justify-content: flex-start;
      align-items: flex-start;
    }
    @media (max-width: 1024px) {
      width: 65%;
    }
    @media (max-width: 868px) {
      width: 80%;
    }
      .slideInInfo {
        display: none;
        @media (max-width: 1023px) {
          display: block;
        }
        font-size: 16px;
        font-weight: 700;
        transition: all 1s;
        position: fixed;;
        top: 38px;
        right: -27px;
        border: 1px solid #FF876C;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 5px;
        transform: rotate(-90deg);
        -webkit-transform-origin: 1; 
        z-index: 10;
        background: #FF876C;
        color: white;
        cursor: pointer;
      }
      .positionChange {
        transform: rotate(0);
        transform: translateX(-26px);
      }
      .successAlert {
        position: fixed;
        top: 5px;
        padding: 20px;
        width: 400px;
        background-color: #96f7c2;
        border-radius: 10px;
        z-index: 5;
        text-align: center;
        font-size: 18px;
        box-shadow: 0 0 25px rgba(102, 86, 61, 0.6);
        @media (max-width: 1070px) {
          left: 20%;
          z-index: 11;
        }
        p {
          margin-top: 3px;
          margin-bottom: 3px;
        }
      }
    }
    form {
      width: 100%;
      max-width: 520px;
      position: relative;
    }
    .selectLangs {
      position: absolute;
      z-index: 10;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      border-radius: 12px;
      background: transparent;
      box-shadow: 0 5px 15px rgba(102, 86, 61, 0.6);
      margin-top: 4px;
      cursor: default;
      &:hover {
        box-shadow: 0 3px 15px rgba(102, 86, 61, 0.6);
      }
      .inner-text {
        padding-left:10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        min-height: 24px;
        align-items: center;
      }
      .icon {
        padding-right: 15px;
        font-size: 20px;
      }
      .reverse {
        transform: rotate(180deg);
        padding-right: 0;
        padding-left: 15px;
      }
    }
    label {
      margin-bottom: 20px;
    }
    .language, .template-workflow {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 90px;
      span {
        padding-bottom: 5px;
      }
      .lang-source {
        width: 48%;
        position: relative;
      }
      .lang-target {
        width: 48%;
        position: relative;        
      }
      .source {
        max-height: 430px;
        .inner-text {
            position: relative;
        }
        &__drop {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          padding-top: 15px;
          padding-left: 10px;
          padding-right: 10px;
          border-top: 1px solid rgba(0,0,0,0.3);
          position: relative;
          max-height: 169px;
          overflow-y: auto;
          background-color: white;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          .dialect {
              padding-left: 18px;
              position: absolute;
              opacity: 0;
              transform: translateY(-50px);
              transition: all .3s;
              z-index: -5;
              &_active{
                  position: static;
                  opacity: 1;
                  transform: translateY(0px);
              }
          }
          .dialect-on-hover{
              transition: all .5s;
              transform: translateY(-50px);
              opacity: 0;
              position: absolute;
          }
          .pair {
            padding: 2px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            .list-item {
              font-size: 14px;
              padding-top: 2px;
              padding-bottom: 0;
            }
            &_dialect {
              &:before, &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  background-color: #66563D;
                  left: -8px;
              }
              &:before {
                  width: 10px;
                  height: 1px;
                  top: 10px;
              }
              &:after {
                width: 1px;
                height: 11px;
                top: 0;
              }
            }          
            img {
              width: 23px;
              margin-right: 3px;
            }
            .openIcon {
              width: 8px;
              padding-left: 5px;
            }
            .reverseOpenIcon {
              transform: rotate(180deg);
              padding-left: 0;
              padding-right: 5px;
            }
            &:hover {
              box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
              border-radius: 5px;
              span {
                transition: all 0.4s;
                transform: translateX(3px);
                color: #AAA39B;
              } 
            }
  
          }        
        }
      }
      .target {
        max-height: 430px;        
          .inner-text {
            position: relative;
          }
        &__drop {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          padding: 15px 10px 0;
          border-top: 1px solid rgba(0,0,0,0.3);
          max-height: 169px;
          overflow-y: auto;
          background-color: white;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;             
          .dialect {
              padding-left: 18px;
              position: absolute;
              opacity: 0;
              transform: translateY(-50px);
              transition: all .3s;
              z-index: -5;
              &_active{
                  position: static;
                  opacity: 1;
                  transform: translateY(0px);
              }
          }
          .dialect-on-hover{
              transition: all .5s;
              transform: translateY(-50px);
              opacity: 0;
              position: absolute;
          }    
          .pair {
            padding: 2px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            .list-item {
              font-size: 14px;
              padding-top: 2px;
              padding-bottom: 0;
            }
            &_dialect {
              
              &:before, &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  background-color: #66563D;
                  left: -8px;
              }
              &:before {
                  width: 10px;
                  height: 1px;
                  top: 10px;
              }
              &:after {
                width: 1px;
                height: 11px;
                top: 0;
              }
            }
            img {
              width: 23px;
              margin-right: 3px;
            }
            .openIcon {
              width: 8px;
              padding-left: 5px;
            }
            .reverseOpenIcon {
              transform: rotate(180deg);
              padding-left: 0;
              padding-right: 5px;
            }
            &:hover {
              box-shadow: 0px 0 15px rgba(102, 86, 61, 0.3);
              border-radius: 5px;
              span {
                transition: all 0.4s;
                transform: translateX(3px);
              }     
            }
          }        
        }     
      }
    }
    .service-type {
      padding-top: 20px;
      &__drop {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid rgba(0,0,0,0.3);
        &-list {
          width: 45%;
          display: flex;
          flex-direction: column;
          padding: 20px 5px 10px;
          max-height: 150px;
          flex-wrap: wrap;
          width: 100%;
          padding: 15px 10px;
        }
        .list-item {
          border: 1px solid #66563D;
          border-radius: 5px;
          padding: 5px;
          margin: 0 6px;
          width: 46%;
          cursor: pointer;
          &:hover {
            background-color: #66563D;
            color: white; 
          }
        }
      }
    }
  
    .industry {
      padding-top: 20px;
      padding-bottom: 30px;   
      display: flex;
      flex-wrap: wrap;
      .other {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &__item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #66563D;
        border-radius: 10px;
        width: 29%;
        padding: 2px;
        padding-left: 10px;
        margin: 5px;
        cursor: pointer;
        .image {
          width: 50px;
          height: 50px;
          // background-image: url('../assets/images/Legal.png');
          background-size: contain;
          background-position: center; 
          background-repeat: no-repeat;
        }
        .image-white {
          position: absolute;
          z-index: -1;
          width: 50px;
          height: 50px;
          // background-image: url('../assets/images/Legal-white.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; 
        }
        p {
          padding-top: 5px;
          padding-left: 10px;
        }
        &:hover {
          background-color: #66563D;
          color: white;
          .image-white {
            z-index: 1;
          }
        } 
      }
      .more {
        padding-top: 10px;
        padding-bottom:10px;
      }
    }
  
    .details {
      padding-bottom: 30px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        padding: 5px 0;
      }
      &__files-list {
        position: absolute;
        top: -23px;
        right: -36px;;
        background-color: white;
        width: 70%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0px 15px rgba(102, 86, 61, 0.5);
        padding: 15px;
        .title {
          display: flex;
          justify-content: center;
          label {
            font-size: 22px;
            margin-bottom: 0;
            padding-top: 10px;
          }
          .close {
            position: absolute;
            right: 16px;
            font-size: 22px;
            cursor: pointer;
          }
        }
        .types {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          z-index: 2;
          &__sector {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .fileTypeTitle {
              margin-top: 0;
              margin-bottom: 0;
              padding: 5px 0;
              font-size: 18px;
              font-family: MyriadBold;
            }
            .list {
              display: flex;
              flex-wrap: wrap;
            }
          }
          li {
            text-shadow: none;
            list-style: none;
            .dot {
              padding-bottom: 3px;
            }
            .type-text {
              font-size: 18px;
              padding-left: 2px;
              padding-right: 8px;
              @media (max-width: 450px) {
                font-size: 14px;
              }
            }
          }
        }
      }
  
      &__item {
        display: flex;     
        padding: 0 40px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;
          padding-bottom: 20px;
          span {
            font-size: 14px;
            padding-top: 9px;
          }
          .supported {
            display: flex;
            justify-content: center;
            align-items: center;
            &__icons {
              display: flex;
              width: 100%;
              padding-left: 50px;
              @media (max-width: 550px) {
                padding-left: 0;
                flex-direction: column;
                align-items: center;
              }
              img {
                width: 18px;
                height: 18px;
                padding-left: 3px;
              }
              .filesLink {
                cursor: pointer;
                text-decoration: underline;
                padding-left: 15px;
                font-size: 12px;
                padding-top: 6px;
                @media (max-width: 550px) {
                  padding-left: 2px;
                }
              }
              &_images {
                @media (max-width: 550px) {
                  display: flex;
                }
                @media (max-width: 350px) {
                  img {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
          }
        }
        // .deadline {
        //   .calendar {
        //     display: flex;
        //     align-items: center;
        //     img {
        //       cursor: pointer;
        //       padding-left: 5px;
        //       padding-top: 7px;
        //       width: 20px;
        //       height: 20px;;
        //     }
        //     input {
        //       font-size: 14px;
        //       text-align: center;
        //       opacity: 0.7;
        //       border-radius: 10px;
        //       border: none;
        //       padding: 8px;
        //       width: 150px;
        //       margin-left: 20px;
        //       border: 1px solid rgba(102, 86, 61, 0.5);
        //       box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);      
        //     }
        //   }        
        // }
        .date-file {
          &_mobileView {
            display: none;
            @media (max-width: 550px) {
              display: flex;
              margin-right: 80px;
              span {
                padding-right: 24px;
              }
            }
            @media (max-width: 410px) {
              margin-right: 45px;
            }
            @media (max-width: 350px) {
              margin-right: 12px;
            }
          }
        }
        .buttons {
          position: relative;
          .upload-btn{
            overflow: hidden;
            position: relative;
            width: 140px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 3px 5px rgba(102, 86, 61, 0.4);
            background-color: #FF876C;
            &:hover {
            box-shadow: 0 0px 15px rgba(102, 86, 61, 0.4);     
            }
            @media (max-width: 550px) {
              width: 100px;
            } 
            .upload-btn__txt {
                z-index: 1;
                position: relative;
                color: #fff;
                font-size: 14px;
                font-family: MyriadPro;
                text-align: center;
            }
            input {
                top: -10px;
                right: -40px;
                z-index: 2;
                position: absolute;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                font-size: 50px;
                font-family: MyriadPro;
                @media (max-width: 550px) {
                  width: 120px;
                  right: 0;
                }              
            }
          }
          .drop {
            position: absolute;
            border: none;
            padding: 50px 120px 40px;
            top: 0;
            background: transparent;
            @media (max-width: 550px) {
              padding: 50px 70px 40px;
            }
          }
        }
        .upload-file {
          @media (max-width: 550px) {
            margin-right: 100px;
          }
          @media (max-width: 410px) {
            margin-right: 65px;
          }
          @media (max-width: 350px) {
            margin-right: 20px;
          }              
        }
        .upload-reference {
          @media (max-width: 550px) {
            display: none;
          }
        }
        .btn-mobileview {
          display: flex;
          @media (max-width: 550px) {
            display: flex;
          }
        }
      }
      .loadedList {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        padding-top: 0;
        list-style: none;
        &__item {
          .deleteIcon {
            padding-left: 5px;
            cursor: pointer;
          }
          @media (max-width: 410px) {
            font-size: 10px;
            max-width: 120px;
          }
        }
        @media (max-width: 550px) {
          padding-bottom: 10px;
          align-self: flex-start;
          overflow: scroll;
        }
      }
      .details__brief {
        width: 100%;
        textarea {
          width: 98%;
          border: 1px solid rgba(102, 86, 61, 0.5);
          border-radius: 10px;
          padding: 5px;
          outline: none;
          font-family: MyriadPro;
          transition: all 0.3s;
          &:focus {
            box-shadow: 0 0 5px rgba(102, 86, 61, 0.5);
          }
        }
        &-title {
            font-size: 12px;
            font-family: MyriadPro;
        }
      }
    }
  
    .contact {
      padding-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        padding-bottom: 3px;
      }
      @media (max-width: 550px) {
        display: block;
      }
      &__col {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (max-width: 768px) {
          width: 50%;
        }
        @media (max-width: 550px) {
          width: 100%;
          padding-top: 0;
          padding-bottom: 0;
        }
        &-item {
          display: flex;
          flex-direction: column;
          padding: 10px;
          input {
            border: 1px solid #66563D;
            border-radius: 10px;
            padding: 10px 5px;
            font-family: MyriadPro;
          }
        }
      }
    }
  
    .number {
      position: relative;
      // span {
      //   position: absolute;
      //   left: -3.5%;
      //   top: -14%;
      //   font-size: 28px;
      // }
      label {
        font-size: 22px;
        margin-bottom: 5px;
        @media (max-width: 550px) {
          padding-left: 6px;
        }
      }
    }
  
    // .image {
    //   .legal & {
    //     background-image: url('../assets/images/Legal.png');
    //   }
    //   .hotel & {
    //     background-image: url('../assets/images/hotel.png');      
    //   }
    //   .trading & {
    //     background-image: url('../assets/images/CFDs-Online-Trading.png');      
    //   }
    //   .crypto & {
    //     background-image: url('../assets/images/Cryptocurrency.png');      
    //   }
    //   .casino & {
    //     background-image: url('../assets/images/casino-poker-igaming.png');      
    //   }
    //   .games & {
    //     background-image: url('../assets/images/Video-Games.png');      
    //   }
    //   .other & {
    //     background-image: url('../assets/images/Other.png');      
    //   }
    // }
    // .image-white {
    //   .legal & {    
    //     background-image: url('../assets/images/Legal-white.png');
    //   }
    //   .hotel & {
    //     background-image: url('../assets/images/hotel-white.png');      
    //   }
    //   .trading & {
    //     background-image: url('../assets/images/CFDs-Online-Trading-white.png');      
    //   }
    //   .crypto & {
    //     background-image: url('../assets/images/Cryptocurrency-white.png');      
    //   }
    //   .casino & {
    //     background-image: url('../assets/images/casino-poker-igaming-white.png');      
    //   }
    //   .games & {
    //     background-image: url('../assets/images/Video-Games-white.png'); 
    //   }
    //   .other & {
    //     background-image: url('../assets/images/Other-white.png');      
    //   }
    // }
  
    .openIcon {
      width: 10px;
    }
  
    .activeIndustry {
      background-color: #66563D;
      color: white;
      .image-white {
        z-index: 1;
      }
    }
  
    .captcha {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        margin-bottom: 5px;
      }
      input {
            background-color: #FF876C;
            color: white;
            width: 164px;
            height: 40px;
            border-radius: 10px;
            margin-top: 15px;
          }
      @media (max-width: 450px) {
        padding-top: 15px;
      }
    }
  
    .warning { 
       animation-name: blink ;
       animation-duration: .5s ;
       animation-timing-function: step-end ;
       animation-iteration-count: infinite ;
       animation-direction: alternate ;
    }
    .warning {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -150px;
      margin-top: -120px;
      background-color: white;
      z-index: 10;
      width: 300px;
      font-size: 20px;
      padding: 20px;
      border: 2px solid grey;
      border-radius: 10px;
      animation-name: blink ;
      animation-duration: .8s ;
      animation-timing-function: step-end ;
      animation-iteration-count: infinite ;
      animation-direction: alternate ;
      text-align: center;
      .message {
        position: relative;
        .closeWarning {
          position: absolute;
          top: -22px;
          right: 0;
        }
      }
      @media (max-width: 767px) {
        transform: translateX(0);
      }
      @media (max-width: 450px) {
        margin-left: -170px;
      }
      @media (max-width: 380px) {
        width: 250px;
        padding: 5px;
        margin-left: -125px;
      } 
    }
    
    .asterisk {
      .warning & {
        font-size: 20px;
        position: relative;
        padding-right: 15px;
      }
      &:after {
        content: '*';
        color: #F00;
        .warning & {
          position: absolute;
          font-size: 30px;
          right: -1px;
        }
      }
    }

    .wrapper, .wrapperTarget {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      color: rgba(0, 0, 0, 0);
    }
  
    .clarify {
      color: #66563D;
      opacity: 0.38;
      font-size: 14px;
      .icon {
        opacity: 1;
      }
    }
  
    .color{
      opacity: 1;
    }
  
    .vdp-datepicker__calendar {
      div {
        .day-header {
          font-weight: bold;
          font-size: 16px;
        }
        .cell {
          background-color: #eaeaea;
        }
      }
    }
    
    .targetCheck {
      margin-bottom: 0 !important;
    }
  
    .active {
      color: #FF876C;
    }
  
    @font-face {
      font-family: MyriadPro;
      src: url('../../assets/fonts/MyriadPro-Regular.otf');
    }
    @font-face {
      font-family: MyriadBold;
      src: url('../../assets/fonts/MyriadPro-Bold.otf')
    }
  
    .logo {
      box-shadow: 0 5px 30px rgba(92, 46, 26, 0.4);
      z-index: 5;
      &__image {
        margin-left: 20%;
        img {
          padding: 6px 0 12px 0;
          width: 240px;
          height: 67px;
        }
      }
      @media (max-width: 1600px) {
        &__image {
          width: 65%;
        }
      }
  
      @media (max-width: 1320px) {
        &__image {
          margin-left: 3%;
        }
      }
      @media (max-width: 1070px) {
        &__image {
          margin-left: 5px;
        }
      };
      @media (max-width: 1024px) {
        justify-content: left;
        &__image {
          img {
            padding: 6px 0 12px;
            width: 240px;
            height: 67px;
          }
        }
      }
      @media (max-width: 768px) {
        justify-content: left;
        &__image {
          width: 28%;
          img {
            padding: 6px 0 12px 0;
            width: 220px;
            height: 57px;
            margin-top: 15px;
          }
        }
      }
      @media (max-width: 450px) {
        justify-content: left;
        &__image {
          margin-left: 22%;
          width: 28%;
          img {
            padding: 6px 0 12px 0;
            width: 200px;
            height: 55px;
          }
        }
      }
      @media (max-width: 330px) {
        justify-content: left;
        &__image {
          width: 28%;
          img {
            padding: 6px 0 12px 0;
            width: 169px;
            height: 50px;
          }
        }
      }
  
    }
  
    .header {
        max-height: 273px;
        // background-image: url('./../assets/images/header2.jpg');
        background-size: cover;
        padding: 6.3% 0 5.6%;
        margin-bottom: 45px;
  
        @media (max-width: 768px) {
          margin-bottom: 5px;
        }
  
        span {
          color: #665741;
          font-size: 56px;
          margin-left: 20%;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
          @media (max-width: 1320px) {
            margin-left: 3%;
          };
          @media (max-width: 1070px) {
            margin-left: 5px;
          };
          @media (max-width: 680px) {
            font-size: 46px;
          }
          @media (max-width: 450px) {
            font-size: 30px;
          }
          @media (max-width: 330px) {
            font-size: 26px;
          }
        }
        @media (max-width: 768px) {
          background-position-x: -96px;
        }
        @media (max-width: 450px) {
          background-position-x: -52px;
        }
        @media (max-width: 380px) {
          background-position-x: -69px;
        }
        @media (max-width: 350px) {
          background-position-x: -62px;
        }
    }
  
    .footer {
      font-family: 'Open Sans';
      background-color: #665741;
      height: 218px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      }
  
    .linkList {
      display: flex;
      justify-content: center;
      @media (max-width: 450px) {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .first {
        .list {
          li {
            &:last-child {
              @media (max-width: 450px) {
                border-right: none;
              }
            }
          }
        }
      }
  
      .second {
        .list {
          li {
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  
    .list {
      list-style: none;
      padding-left: 0;
      @media (max-width: 450px) {
        margin: 6px 0;
      }
    }
  
    .list li {
      display: inline;
      padding: 0 4px;
      text-shadow: 0 3px 5px black;
      border-right: 1.5px solid #fff;
      font-size: 12px;
      a {
        text-decoration: none;
        color: #fff;
        font-family: 'Open Sans';
        font-size: 15px;
        margin: 9px;
  
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  
    .legalInfo {
      font-family: 'Open Sans';
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    p.linfo {
      color: #fff;
      font-size: 12px;
      margin-top: 0.5px;
      margin-bottom: 0.5px;
    }
  
    .pangeaFooterSpan {
      font-weight: bold;
    }
  
    .socialLinks {
      display: inline;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 10px;
      a {
        text-decoration: none;
      }
    }
    
    .socials {
      padding-left: 0;
    }
  
    .socials li {
      display: inline;
      list-style: none;
      a {
        img {
          @media (max-width: 400px) {
            width: 31px;
          }
        }
      }
    }
  
    .socialsImage {
      margin: 5px;
    }

    .projName {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;
      &__project, &__date {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      &__date {
        width: 44%;
      }
      input {
        margin-left: 10px;
        border-radius: 12px;
        height: 28px;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 10px;
        border: 1px solid rgba(102, 86, 61, .5);
        outline: none;
        transition: all 0.3s;
        font-family: MyriadPro;
        font-size: 14px;
        &:focus {
          box-shadow: 0 0 5px rgba(102, 86, 61, 0.5);
        }
      }
    }
    .externalWrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      &__title {
        margin-left: 3%;
        width: 100%;
        text-align: center;
        margin: 20px 0 10px;
        span {
          font-family: MyriadPro;
          font-size: 26px;
          color: #66563D;
        }
      }
      .mainWrapper {
        width: 100%;
        margin: 40px auto;
      }
      .captcha {
        input {
          border: none;
          box-shadow: 0 3px 5px rgba(102, 86, 61, 0.4);
        }
      }
      .details {
        padding-bottom: 0;
        padding-left: 10px;
        flex-direction: column;
        width: initial;
        &__quote {
          margin-top: 30px;
          width: 100%;
          display: flex;
          justify-content: center;
          .send, .start {
            width: 236px;
            height: 105px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border: 1px solid rgba(102, 86, 61, 0.38);        
            padding: 10px;
            margin: 10px;
            margin-right: 0;
            border-radius: 10px;
            cursor: pointer;
            &__check {
              width: 16px;
              height: 16px;
              border: 1px solid #66563D;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              .checker {
                width: 12px;
                height: 12px;
                border-radius: 50%;
              }
              .checkerChecked {
                background-color: #66563D;
              }
            }
            &__text {
              width: 88%;
              display: flex;
              flex-direction: column;
              align-items: center;
              .head {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
              }
              .innerText {
                text-align: center;                
                font-size: 12px;
                margin-top: 0;
              }
            }
          }
          .optionChecked {
            box-shadow: 0 0 7px rgba(102, 86, 61, 0.6);
            border: 1px solid #66563D;
          }
    
        }
      }
    }

    .deadline {
      .calendar {
        display: flex;
        align-items: center;
        img {
          cursor: pointer;
          margin-left: 5px;
          width: 20px;
          height: 20px;;
        }
        input {
          font-size: 14px;
          text-align: center;
          opacity: 0.7;
          border-radius: 10px;
          border: none;
          height: 34px;
          padding-right: 5px;
          padding-left: 5px;
          width: 190px;
          margin-left: 0;
          border: 1px solid rgba(102, 86, 61, 0.7);
        }
      }        
    }

    .langTitle {
      font-size: 12px;
    }

    .container {
      padding: 40px;
      border: 1px solid #66563D;    
    }

.customers {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100%;
  &__menu {
    width: 98%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(102, 86, 61, 0.6);
    position: absolute;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 10px;
    .inner-text {
      padding-left:10px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      min-height: 24px;
      align-items: center;
      position: relative;
      font-size: 14px;
      color: rgba(102, 86, 61, 0.5);
      .customer-search {
        position: absolute;
        width: 100%;
        left: 0;
        top: 45px;
        z-index: 20;
        .searchField {
          padding: 6px 11px 6px 14px;
          width: 92%;
          border: 1px solid rgba(56, 92, 211, 0.4);
          border-left: none;
        }
      }
    }
    .icon {
      padding-right: 15px;
      font-size: 20px;
    }
    .reverse {
      transform: rotate(180deg);
      padding-right: 0;
      padding-left: 15px;
    }
    .color {
      opacity: 1;
      color: #66563D;
    }
    .menu-drop {
      padding-top: 31px;
      padding-bottom: 10px;
      border-top: 1px solid rgba(0,0,0,0.3);
      position: relative;
      max-height: 169px;
      overflow-y: auto;
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      z-index: 15;
      &__list {
        display: flex;
        flex-direction: column;
        .list-item {
          border-bottom: 1px solid #66563D;
          padding: 5px 10px;
          cursor: pointer;
          color: #66563D;
          transition: all 0.3s;
          &:hover {
            background-color: #66563D;
            color: white; 
          }
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}
