.allProjects {
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 180px;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    &__dropMenu {
        max-width: 919px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0.4px solid #67573e;
        border-radius: 18px;
        box-shadow: 0 3px 13px rgba(103, 87, 62, 0.5);
        margin-right: 4%;
        margin-bottom: 10px;
        padding: 0 14px;
        color: #67573e;
        transition: all 0.2s;           
        .dropSelect {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 18px;
            padding: 14px;
            cursor: pointer;
                .reverseImage {
                    transform: rotate(180deg);
                }
        }
        .dropItem {
            width: 100%;
            &__filters {
                display: flex;
                justify-content: space-between;
                .filterBlock {
                    width: 30%;
                    &__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 15px;
                        input, span {
                            padding: 5px;
                            border: 1px solid #67573e;
                            width: 175px;
                            height: 20px;
                        }
                        span {
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;
                            img {
                                position: absolute;
                                top: 0px;
                                right: 0;
                                background-color: white;
                                padding: 8px;
                            }
                            .reverseImage {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .request, .deadline {
                        position: relative;
                        img {
                            position: absolute;
                            width: 19px;
                            right: 2px;
                            padding: 4px;
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                    .status {
                        justify-content: flex-start;
                        label {
                            margin-right: 10px;
                        }
                    }
                }
            }
            &__table {
                // max-height: 500px;
                // overflow: scroll;
            }
        }
    }
    .opened {
        border-radius: 0;
        border: none;
        margin-bottom: 0;
    }
    
    .quotesCalendarWrapper {
        top: 64%;
        left: 12%;
    }

    .switcher {
        position: absolute;
        top: 64%;
        left: 41%;
        z-index: 5;
      }
}