.allProjects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    margin: 0 auto;
    &__dropMenu {
        max-width: 919px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 0.4px solid #67573e;
        border-radius: 18px;
        box-shadow: 0 3px 13px rgba(103, 87, 62, 0.5);
        margin-right: 4%;
        margin-bottom: 10px;
        padding: 0 14px;
        color: #67573e;
        transition: all 0.2s;
        @media (max-width: 1550px) {
            margin-left: 58px;
        }       
        .dropSelect {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 18px;
            padding: 14px;
            cursor: pointer;
                .reverseImage {
                    transform: rotate(180deg);
                }
        }
        .dropItem {
            width: 100%;
            &__filters {
                display: flex;
                justify-content: space-between;
                .filterBlock {
                    width: 32%;
                    position: relative;
                    &__item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 15px;
                        input, span {
                            padding: 5px;
                            border: 1px solid #67573e;
                            width: 175px;
                            height: 20px;
                        }
                        span {
                            position: relative;
                            overflow: hidden;
                            cursor: pointer;
                            img {
                                position: absolute;
                                top: 0px;
                                right: 0;
                                background-color: white;
                                padding: 8px;
                            }
                            .reverseImage {
                                transform: rotate(180deg);
                            }
                        }
                        .selector {
                            display: flex;
                            position: relative;
                            &__drop {
                                position: absolute;
                                background-color: white;
                                max-height: 150px;
                                overflow: auto;
                                right: 0;
                                top: 32px;
                                width: 99%;
                                z-index: 2;
                                border: 1px solid #67573e;
                                padding-bottom: 5px;
                            }
                        }
                    }
                    .request, .deadline {
                        position: relative;
                        img {
                            position: absolute;
                            width: 19px;
                            right: 2px;
                            padding: 4px;
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                    .status {
                        justify-content: flex-start;
                        label {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .opened {
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        @media (max-width: 1550px) {
            margin-left: 58px;
        }
    }
    
    .quotesCalendarWrapper {
        top: 37px;
        left: -140px;
        @media screen and (max-width: 1580px) {
        left: -94px;
        }
        @media screen and (max-width: 1515px) {
        left: -200px;
        }
    }

    .switcher {
        position: absolute;
        top: 85px;
        left: 100px;
        z-index: 5;
        @media screen and (max-width: 1580px) {
        left: 139px;
        }
        @media screen and (max-width: 1515px) {
        left: -200px;
        }
      }

      .vdp-datepicker__calendar .cell.notCurrentMonth {
        color: rgba(0, 0, 0, 0.2);
      }

      .vdp-datepicker__calendar .cell.beforeToday {
        color: rgba(0, 0, 0, 1);
      }
}