@import "../scss/colors.scss";

%setting-table {
  background-color: $white;
  padding: 20px;
  box-shadow: rgba(81, 68, 48, 0.3) 0px 1px 2px 0px, rgba(81, 68, 48, 0.15) 0px 1px 3px 1px;
  position: relative;
}

%table-data {
  height: 31px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

%table-text-input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  color: $main-color;
  background: transparent;
}

%table-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

%table-icon {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 8px;
}