@import "../scss/colors.scss";

%setting-table {
  background-color: $white;
  padding: 20px;
  box-shadow: rgba(103, 87, 62, 0.3) 0px 2px 5px, rgba(103, 87, 62, 0.15) 0px 2px 6px 2px;
  position: relative;
}

%table-data {
  height: 31px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

%table-text-input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  color: $main-color;
}

%table-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

%table-icon {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 8px;
}