.quotesCalendarWrapper {
    position: absolute;
    top: 28%;
    left: -30%;
    z-index: 5;
    width: 582px;
  
    .calendarContainer {
      display: flex;
      border: 2px solid #67573e;
      padding: 10px;
      font-size: 16px;
      background-color: #fff;
      width: 82%;
      @media screen and (max-width: 1550px) {
        padding: 10px;
      }
  
      &__left {
        flex-direction: column;
        margin-right: 18px;
        width: 50%;
        @media screen and (max-width: 1550px) {
          margin-right: 9px;
        }
        &-level1 {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 3%;
          @media screen and (max-width: 1550px) {
            justify-content: flex-start;
          }
          
          .col1 {
            color: #67573e;
            font-size: 16px;
            font-weight: bold;
            margin-right: 117px;
            @media screen and (max-width: 1550px) {
              margin-right: 116px;
            }
          }
          .col2 {
            display: flex;
            align-items: baseline;
            &-text2 {
              font-size: 14px;
            }
          }
        }
        &-level4 {
          margin-bottom: 3%;
            input {
              padding: 4px;
              margin-bottom: 10px;
            }
        }
        &-level5 {
          display: flex;
          justify-content: flex-start;
  
          .col1 {
            display: flex;
            margin-right: 5%;
            &-text {
              margin-right: 6%;
            }
          }
          .col2 {
            display: flex;
            margin-right: 5%;
            &-text {
              margin-right: 6%;
            }
          }
          .col3 {
            display: flex;
            &-text {
              margin-right: 6%;
            }
          }
        }
      }
  
      &__right {
        flex-direction: column;
        width: 50%;
        &-level1 {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 3%;
          @media screen and (max-width: 1550px) {
            justify-content: flex-start;
          }
          .col1 {
            color: #67573e;
            font-size: 16px;
            font-weight: bold;
            margin-right: 137px;
            @media screen and (max-width: 1550px) {
              margin-right: 137px;
            }
          }
          .col2 {
            display: flex;
            align-items: baseline;
            &-text1 {
              border: 0.1px solid #e2dddb;
              height: 20px;
              width: 20px;
              margin-right: 6px;
            }
            &-text2 {
              font-size: 14px;
            }
          }
        }
        &-level4 {
          margin-bottom: 3%;
          input {
            padding: 4px;
            margin-bottom: 10px;
          }
        }
        &-level5 {
          display: flex;
          justify-content: flex-end;
          padding-right: 3px;
          .col2 {
            button {
              background-color: #f5876e;
              border-radius: 8px;
              color: #fff;
              width: 120px;
              height: 30px;
              border: none;
              font-size: 16px;
              outline: none;
            }
          }
        }
      }
  
      .vdp-datepicker__calendar {
        width: 230px;
        div {
          .day-header {
            font-weight: bold;
            font-size: 16px;
          }
          .cell {
            background-color: #eaeaea;
            height: 25px;
            font-size: 14px;
            line-height: 29px;
          }
        }
      }
  
      .vdp-datepicker__calendar .cell.highlighted,
      .vdp-datepicker__calendar .cell.disabled.weekend {
        background: #cde1f7;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .col2-text1 {
    border: 0.1px solid #e2dddb;
    height: 20px;
    width: 20px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .innerCheck {
      width: 62%;
      height: 62%;
      background-color: white;
    }
    .checkedBox {
      background-color: #67573e;
    }
  }

  